{{template "header" .}}
<link rel="stylesheet" type="text/css" href="/assets/DataTables/datatables.min.css"/>
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header font-weight-bold">
              <div class="row d-flex">
                <div class="col d-flex"><h3><i class="fas fa-users-cog me-2"></i>{{.Title}}</h3></div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="GET">
                    <div class="btn-group" id="ActionButtonGroup">
                    <button type="submit" value="" class="btn btn-primary" formaction="/UserRoleNew" method="GET" title="Create a new User Roles"><i class="fas fa-plus me-2"></i>New</button>
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>



            <div class="card-body">
             
                           
                    <table id="DataTable" class="table table-hover table-responsive" style="width:100%">
                      <thead class="table-light">
                        <tr style="background-color:red;">
                          
                          <th class="text-center"><i class="fas fa-key me-2"></i>Id</th>
                          <th class="text-center">Name</th>
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          
                          <td class="align-middle" >{{.Id}}</td>
                          <td class="align-middle" >{{.Name}}</td>
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          <td class="text-center" style="width:1px;">
                           <form action="/home" method="POST" class="d-flex justify-content-center">
                            <button type="submit" value="" class="btn btn-info ms-2 btn-floating" formaction="/UserRoleView?Id={{.Id}}" method="POST" title="View User Roles"><i class="far fa-eye"></i></button>
                            <button type="submit" value="" class="btn btn-warning ms-2 btn-floating" formaction="/UserRoleEdit?Id={{.Id}}" method="POST" title="Edit User Roles"><i class="fas fa-edit"></i></button>
                            <button type="submit" value="" class="btn btn-danger ms-2 btn-floating" formaction="/UserRoleDelete?Id={{.Id}}" method="POST" title="Delete User Roles"><i class="fas fa-trash"></i></button>
                            </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                       <tfoot class="table-light">
                        <tr style="background-color:red;">
                          
                          <th class="text-center"><i class="fas fa-key me-2"></i>Id</th>
                          <th class="text-center">Name</th>
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </tfoot>
                    </table>
            

            </div>
        </form>
      </div>




{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "tablecontrols" .}}
{{template "pagefooter" .}}