{{template "header" .}} {{template "bodydefinition" .}}
<form action="/ExternalMessageEdit/?Message={{.MessageID}}" method="POST" class="form">
    <div class="card">
        <div class="card-header align-items-center" >
            <div class="row align-items-center">
                <div class="col h3 align-items-center">
                    <i class="fas fa-mail-bulk me-2" title="Message = {{.MessageID}}"></i><span class="me-3">{{.Title}}</span>
                </div>
                <div class="col d-flex justify-content-end">
                    <div class="btn-group float-right">
                        
                        <button type="submit" class="btn btn-warning" method="get" formaction="/ExternalMessageEdit/?Message={{.MessageID}}"  title="Edit ExternalMessage {{.MessageID}}"><i class="fas fa-pen me-2"></i>Edit</button>
                        <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print ExternalMessage {{.MessageID}}"><i class="fas fa-print me-2"></i>Print</button>
                        <button type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSId" aria-describedby="SYSIdHelp" placeholder="0" disabled value="{{.SYSId}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSId">SYSId</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="MessageID" aria-describedby="MessageIDHelp" placeholder="" disabled value="{{.MessageID}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="MessageID"><i class="fas fa-key me-2"></i>MessageID</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="MessageFormat" aria-describedby="MessageFormatHelp" placeholder="" disabled value="{{.MessageFormat}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="MessageFormat">MessageFormat</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="MessageDeliveredTo" aria-describedby="MessageDeliveredToHelp" placeholder="" disabled value="{{.MessageDeliveredTo}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="MessageDeliveredTo">MessageDeliveredTo</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <textarea class="form-control" id="MessageBody" name="MessageBody" aria-describedby="MessageBodyHelp" placeholder=""  disabled value="{{.MessageBody}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.MessageBody}}</textarea>
                        
                        <label class="form-label" for="MessageBody">MessageBody</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="MessageFilename" aria-describedby="MessageFilenameHelp" placeholder="" disabled value="{{.MessageFilename}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="MessageFilename">MessageFilename</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="number" class="form-control" id="MessageLife" aria-describedby="MessageLifeHelp" placeholder="" disabled value="{{.MessageLife}}" data-mdb-input-mask="" step="0.25"></input>
                        
                        <label class="form-label" for="MessageLife">MessageLife</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="date" class="form-control" id="MessageDate" aria-describedby="MessageDateHelp" placeholder="" disabled value="{{.MessageDate}}" data-mdb-input-mask="yyyy-mm-dd" ></input>
                        
                        <label class="form-label" for="MessageDate">MessageDate</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="MessageTime" aria-describedby="MessageTimeHelp" placeholder="" disabled value="{{.MessageTime}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="MessageTime">MessageTime</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="MessageTimeoutAction" aria-describedby="MessageTimeoutActionHelp" placeholder="" disabled value="{{.MessageTimeoutAction}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="MessageTimeoutAction">MessageTimeoutAction</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="MessageACKNAK" name="MessageACKNAK" class="select" data-mdb-filter="true" disabled>
                  {{range .MessageACKNAK_lookup}}<option value="{{.ID}}" {{if eq .ID $.MessageACKNAK}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="MessageACKNAK" disabled>MessageACKNAK</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="ResponseID" aria-describedby="ResponseIDHelp" placeholder="" disabled value="{{.ResponseID}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="ResponseID">ResponseID</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="ResponseFilename" aria-describedby="ResponseFilenameHelp" placeholder="" disabled value="{{.ResponseFilename}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="ResponseFilename">ResponseFilename</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <textarea class="form-control" id="ResponseBody" name="ResponseBody" aria-describedby="ResponseBodyHelp" placeholder=""  disabled value="{{.ResponseBody}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.ResponseBody}}</textarea>
                        
                        <label class="form-label" for="ResponseBody">ResponseBody</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="date" class="form-control" id="ResponseDate" aria-describedby="ResponseDateHelp" placeholder="" disabled value="{{.ResponseDate}}" data-mdb-input-mask="yyyy-mm-dd" ></input>
                        
                        <label class="form-label" for="ResponseDate">ResponseDate</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="time" class="form-control" id="ResponseTime" aria-describedby="ResponseTimeHelp" placeholder="" disabled value="{{.ResponseTime}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="ResponseTime">ResponseTime</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <textarea class="form-control" id="ResponseAdditionalInfo" name="ResponseAdditionalInfo" aria-describedby="ResponseAdditionalInfoHelp" placeholder=""  disabled value="{{.ResponseAdditionalInfo}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.ResponseAdditionalInfo}}</textarea>
                        
                        <label class="form-label" for="ResponseAdditionalInfo">ResponseAdditionalInfo</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder="" disabled value="{{.SYSCreated}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSCreated">SYSCreated</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" disabled value="{{.SYSCreatedBy}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSCreatedBy">SYSCreatedBy</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" disabled value="{{.SYSCreatedHost}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSCreatedHost">SYSCreatedHost</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" disabled value="{{.SYSUpdated}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSUpdated">SYSUpdated</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" disabled value="{{.SYSUpdatedBy}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSUpdatedBy">SYSUpdatedBy</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" disabled value="{{.SYSUpdatedHost}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSUpdatedHost">SYSUpdatedHost</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="datetime" class="form-control" id="MessageTimeout" aria-describedby="MessageTimeoutHelp" placeholder="" disabled value="{{.MessageTimeout}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="MessageTimeout">MessageTimeout</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="MessageEmitted" aria-describedby="MessageEmittedHelp" placeholder="" disabled value="{{.MessageEmitted}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="MessageEmitted">MessageEmitted</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="ResponseRecieved" name="ResponseRecieved" class="select" data-mdb-filter="true" disabled>
                  {{range .ResponseRecieved_lookup}}<option value="{{.ID}}" {{if eq .ID $.ResponseRecieved}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="ResponseRecieved" disabled>ResponseRecieved</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="MessageClass" aria-describedby="MessageClassHelp" placeholder="" disabled value="{{.MessageClass}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="MessageClass">MessageClass</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="AppID" aria-describedby="AppIDHelp" placeholder="" disabled value="{{.AppID}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="AppID">AppID</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDeleted" aria-describedby="SYSDeletedHelp" placeholder="" disabled value="{{.SYSDeleted}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSDeleted">SYSDeleted</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDeletedBy" aria-describedby="SYSDeletedByHelp" placeholder="" disabled value="{{.SYSDeletedBy}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSDeletedBy">SYSDeletedBy</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDeletedHost" aria-describedby="SYSDeletedHostHelp" placeholder="" disabled value="{{.SYSDeletedHost}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSDeletedHost">SYSDeletedHost</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDbVersion" aria-describedby="SYSDbVersionHelp" placeholder="" disabled value="{{.SYSDbVersion}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSDbVersion">SYSDbVersion</label>
                        
                    </div>
                
                </div>
            </div>
            
        </div>
        {{template "audit" .}}
    </div>
</form>

{{template "userfooter" .}} {{template "pagefooter" .}}