{{template "header" .}}
<link rel="stylesheet" type="text/css" href="/assets/DataTables/datatables.min.css"/>
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header font-weight-bold" style="padding-bottom:0;">
              <div class="row d-flex align-items-center">
                <div class="col d-flex align-items-center text-primary"><h4><i class="fas fa-key me-2"></i><span class="text-dark">{{.Title}}</span></h4></div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="GET">
                    <div class="btn-group" id="ActionButtonGroup">
                    <button type="submit" value="" class="btn btn-primary" formaction="/CredentialsNew" method="GET" title="Create a new Credentials"><i class="fas fa-plus me-2"></i>New</button>
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>



            <div class="card-body">
             
                           
                    <table id="DataTable" class="table table-hover table-responsive" style="width:100%">
                      <thead class="table-primary">
                        <tr style="background-color:red;">
                          
                          <th class="text-center" hidden><i class="fas fa-key me-2"></i>Id</th>
                          <th class="text-center">Username</th>
                          
                          <th class="text-center">Firstname</th>
                          <th class="text-center">Lastname</th>
                          <th class="text-center">Knownas</th>
                          <th class="text-center">Email</th>
                          <th class="text-center">Issued</th>
                          <th class="text-center">Expiry</th>
                          <th class="text-center">RoleType</th>
                          
                          
                          
                          
                          
                          
                          
                          <th class="text-center">State</th>
                  
                          
                          
                          
                          
                          
                          <th class="text-center">EmailNotifications</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          
                          <td class="align-middle" hidden>{{.Id}}</td>
                          <td class="align-middle text-primary" >{{.Username}}</td>
                          
                          <td class="align-middle" >{{.Firstname}}</td>
                          <td class="align-middle" >{{.Lastname}}</td>
                          <td class="align-middle" >{{.Knownas}}</td>
                          <td class="align-middle" >{{.Email}}</td>
                          <td class="align-middle" >{{.Issued}}</td>
                          <td class="align-middle" >{{.Expiry}}</td>
                          <td class="align-middle" >{{.RoleType}}</td>
                          
                          
                          
                          
                          
                          
                          
                          <td class="align-middle" >{{.State}}</td>
                
                          
                          
                          
                          
                          
                        
                          <td class="align-middle text-center" >{{if eq .EmailNotifications "true"}}<i class="fas fa-check text-success"></i>{{else}}<i class="fas fa-times text-danger"></i>{{end}}</td>
                          
                          <td class="align-middle text-center" style="width:1px;padding:0px;padding-top:1rem;">
                           <form action="/home" method="POST" class="d-flex justify-content-center">
                                                                                  <div class="btn-group" id="ActionButtonGroup2">

                            <button type="submit" value="" class="btn btn-info " formaction="/CredentialsView?Id={{.Id}}" method="POST" title="View Credentials"><i class="far fa-eye"></i></button>
                            <button type="submit" value="" class="btn btn-warning " formaction="/CredentialsEdit?Id={{.Id}}" method="POST" title="Edit Credentials"><i class="fas fa-edit"></i></button>
                            <button type="submit" value="" class="btn btn-danger " formaction="/CredentialsDelete?Id={{.Id}}" method="POST" title="Delete Credentials"><i class="fas fa-trash"></i></button>
                           </div>
                            </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                       <tfoot class="table-light">
                        <tr style="background-color:red;">
                          
                          <th class="text-center" hidden><i class="fas fa-key me-2"></i>Id</th>
                          <th class="text-center">Username</th>
                          
                          <th class="text-center">Firstname</th>
                          <th class="text-center">Lastname</th>
                          <th class="text-center">Knownas</th>
                          <th class="text-center">Email</th>
                          <th class="text-center">Issued</th>
                          <th class="text-center">Expiry</th>
                          <th class="text-center">RoleType</th>
                          
                          
                          
                          
                          
                          
                          
                          <th class="text-center">State</th>
               
                          
                          
                          
                          
                          
                          <th class="text-center">EmailNotifications</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </tfoot>
                    </table>
            

            </div>
        </form>
      </div>




{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "tablecontrols" .}}
{{template "pagefooter" .}}