{{template "header" .}}
{{template "bodydefinition" .}}

<form action="/EstimationSessionActionSave/?ID={{.ID}}"
  method="GET" class="form">
  <div class="card">
    <div class="card-header align-items-center" style="padding-bottom:0;">
        <div class="row d-flex align-items-center">
          <div class="col h4 align-items-center">
          <i class="fas fa-angle-double-right me-2 text-primary"
            title="ID={{.ID}}"></i><span class="me-3">{{.Title}}</span>
          </div>
          <div class="col d-flex justify-content-end">
            <div class="btn-group float-right" style="margin-bottom:1rem;">
            
              <button type="submit" value="" class="btn btn-danger" method="GET" formaction="/EstimationSessionActionSave/?ID={{.ID}}" onclick="/EstimationSessionActionSave/?ID={{.ID}}" title="Save Estimation Session Actions"><i class="fas fa-save me-2"></i>Save</button>
            
              <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Estimation Session Actions"><i class="fas fa-print me-2"></i>Print</button>
              <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
            </div>
          </div>
        </div>
      </div>
    <div class="card-body">
     
        <div class="row mb-3" readonly="true" hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.ID_props.MsgType}}" id="ID" name="ID" aria-describedby="IDHelp" placeholder="" readonly="true"  value="{{.ID}}" required data-mdb-input-mask="" />
              
              <label class="form-label" for="ID" readonly="true"><i class="fas fa-key me-2"></i>ID</label>
              <div class="{{.ID_props.MsgFeedBackType}}">{{.ID_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            
            <select id="EstimationSession" name="EstimationSession" class="select" data-mdb-filter="true"  required>
                {{range .EstimationSession_lookup}}<option value="{{.ID}}" {{if eq .ID $.EstimationSession}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="EstimationSession" >EstimationSession</label>
            <div class="{{.EstimationSession_props.MsgFeedBackType}}">{{.EstimationSession_props.MsgMessage}}</div>
            
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            
            <select id="Action" name="Action" class="select" data-mdb-filter="true"  required>
                {{range .Action_lookup}}<option value="{{.ID}}" {{if eq .ID $.Action}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="Action" >Action</label>
            <div class="{{.Action_props.MsgFeedBackType}}">{{.Action_props.MsgMessage}}</div>
            
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <textarea class="form-control {{.Notes_props.MsgType}}" id="Notes" name="Notes" aria-describedby="NotesHelp" placeholder=""   value="{{.Notes}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.Notes}}</textarea>
              
              <label class="form-label" for="Notes" >Notes</label>
              <div class="{{.Notes_props.MsgFeedBackType}}">{{.Notes_props.MsgMessage}}</div>
            </div>
        
        </div></div>
      
      
    </div>
    
  </div>
</form>

{{template "userfooter" .}}
{{template "pagefooter" .}}