{{template "header" .}} {{template "bodydefinition" .}}
<form action="/CredentialsPasswordEdit/?ID={{.ID}}" method="POST" class="form">
    <div class="card">
        <div class="card-header align-items-center" >
            <div class="row align-items-center">
                <div class="col h3 align-items-center">
                    <i class="fas fa-user-cog me-2" title="ID = {{.ID}}"></i><span class="me-3">{{.Title}}</span>
                </div>
                <div class="col d-flex justify-content-end">
                    <div class="btn-group float-right">
                        
                        <button type="submit" class="btn btn-warning" method="get" formaction="/CredentialsPasswordEdit/?ID={{.ID}}"  title="Edit Credentials Password {{.ID}}"><i class="fas fa-pen me-2"></i>Edit</button>
                        <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Credentials Password {{.ID}}"><i class="fas fa-print me-2"></i>Print</button>
                        <button type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
             
            <div class="row mb-3"  hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="ID" aria-describedby="IDHelp" placeholder="" disabled value="{{.ID}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="ID"><i class="fas fa-key me-2"></i>ID</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="UserName" aria-describedby="UserNameHelp" placeholder="" disabled value="{{.UserName}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="UserName">UserName</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="password" class="form-control" id="PasswordOld" aria-describedby="PasswordOldHelp" placeholder="" disabled value="{{.PasswordOld}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="PasswordOld">PasswordOld</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="password" class="form-control" id="PasswordNew" aria-describedby="PasswordNewHelp" placeholder="" disabled value="{{.PasswordNew}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="PasswordNew">PasswordNew</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="password" class="form-control" id="PasswordConfirm" aria-describedby="PasswordConfirmHelp" placeholder="" disabled value="{{.PasswordConfirm}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="PasswordConfirm">PasswordConfirm</label>
                        
                    </div>
                
                </div>
            </div>
            
        </div>
        
    </div>
</form>

{{template "userfooter" .}} {{template "pagefooter" .}}