{{template "header" .}}
{{template "bodydefinition" .}}

<form action="/EstimationStateSave/?EstimationStateID={{.EstimationStateID}}"
  method="GET" class="form">
  <div class="card">
    <div class="card-header align-items-center" style="padding-bottom:0;">
        <div class="row d-flex align-items-center">
          <div class="col h4 align-items-center">
          <i class="fas fa-cogs me-2 text-primary"
            title="EstimationStateID={{.EstimationStateID}}"></i><span class="me-3">{{.Title}}</span>
          </div>
          <div class="col d-flex justify-content-end">
            <div class="btn-group float-right" style="margin-bottom:1rem;">
            
              <button type="submit" value="" class="btn btn-danger" method="GET" formaction="/EstimationStateSave/?EstimationStateID={{.EstimationStateID}}" onclick="/EstimationStateSave/?EstimationStateID={{.EstimationStateID}}" title="Save Estimation State"><i class="fas fa-save me-2"></i>Save</button>
            
              <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Estimation State"><i class="fas fa-print me-2"></i>Print</button>
              <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
            </div>
          </div>
        </div>
      </div>
    <div class="card-body">
     
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSId_props.MsgType}}" id="SYSId" name="SYSId" aria-describedby="SYSIdHelp" placeholder="0" hidden  value="{{.SYSId}}" required data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSId" hidden>SYSId</label>
              <div class="{{.SYSId_props.MsgFeedBackType}}">{{.SYSId_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.EstimationStateID_props.MsgType}}" id="EstimationStateID" name="EstimationStateID" aria-describedby="EstimationStateIDHelp" placeholder=""  readonly="true"  value="{{.EstimationStateID}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="EstimationStateID" ><i class="fas fa-key me-2"></i>EstimationStateID</label>
              <div class="{{.EstimationStateID_props.MsgFeedBackType}}">{{.EstimationStateID_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.Code_props.MsgType}}" id="Code" name="Code" aria-describedby="CodeHelp" placeholder=""   value="{{.Code}}" required data-mdb-input-mask="" />
              
              <label class="form-label" for="Code" >Code</label>
              <div class="{{.Code_props.MsgFeedBackType}}">{{.Code_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.Name_props.MsgType}}" id="Name" name="Name" aria-describedby="NameHelp" placeholder=""   value="{{.Name}}" required data-mdb-input-mask="" />
              
              <label class="form-label" for="Name" >Name</label>
              <div class="{{.Name_props.MsgFeedBackType}}">{{.Name_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSCreated_props.MsgType}}" id="SYSCreated" name="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder="" hidden  value="{{.SYSCreated}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSCreated" hidden>SYSCreated</label>
              <div class="{{.SYSCreated_props.MsgFeedBackType}}">{{.SYSCreated_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSCreatedBy_props.MsgType}}" id="SYSCreatedBy" name="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" hidden  value="{{.SYSCreatedBy}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSCreatedBy" hidden>SYSCreatedBy</label>
              <div class="{{.SYSCreatedBy_props.MsgFeedBackType}}">{{.SYSCreatedBy_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSCreatedHost_props.MsgType}}" id="SYSCreatedHost" name="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" hidden  value="{{.SYSCreatedHost}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSCreatedHost" hidden>SYSCreatedHost</label>
              <div class="{{.SYSCreatedHost_props.MsgFeedBackType}}">{{.SYSCreatedHost_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSUpdated_props.MsgType}}" id="SYSUpdated" name="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" hidden  value="{{.SYSUpdated}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSUpdated" hidden>SYSUpdated</label>
              <div class="{{.SYSUpdated_props.MsgFeedBackType}}">{{.SYSUpdated_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSUpdatedBy_props.MsgType}}" id="SYSUpdatedBy" name="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" hidden  value="{{.SYSUpdatedBy}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSUpdatedBy" hidden>SYSUpdatedBy</label>
              <div class="{{.SYSUpdatedBy_props.MsgFeedBackType}}">{{.SYSUpdatedBy_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSUpdatedHost_props.MsgType}}" id="SYSUpdatedHost" name="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" hidden  value="{{.SYSUpdatedHost}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSUpdatedHost" hidden>SYSUpdatedHost</label>
              <div class="{{.SYSUpdatedHost_props.MsgFeedBackType}}">{{.SYSUpdatedHost_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSDeleted_props.MsgType}}" id="SYSDeleted" name="SYSDeleted" aria-describedby="SYSDeletedHelp" placeholder="" hidden  value="{{.SYSDeleted}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSDeleted" hidden>SYSDeleted</label>
              <div class="{{.SYSDeleted_props.MsgFeedBackType}}">{{.SYSDeleted_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSDeletedBy_props.MsgType}}" id="SYSDeletedBy" name="SYSDeletedBy" aria-describedby="SYSDeletedByHelp" placeholder="" hidden  value="{{.SYSDeletedBy}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSDeletedBy" hidden>SYSDeletedBy</label>
              <div class="{{.SYSDeletedBy_props.MsgFeedBackType}}">{{.SYSDeletedBy_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSDeletedHost_props.MsgType}}" id="SYSDeletedHost" name="SYSDeletedHost" aria-describedby="SYSDeletedHostHelp" placeholder="" hidden  value="{{.SYSDeletedHost}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSDeletedHost" hidden>SYSDeletedHost</label>
              <div class="{{.SYSDeletedHost_props.MsgFeedBackType}}">{{.SYSDeletedHost_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSDbVersion_props.MsgType}}" id="SYSDbVersion" name="SYSDbVersion" aria-describedby="SYSDbVersionHelp" placeholder="" hidden  value="{{.SYSDbVersion}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSDbVersion" hidden>SYSDbVersion</label>
              <div class="{{.SYSDbVersion_props.MsgFeedBackType}}">{{.SYSDbVersion_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            
            <select id="IsLocked" name="IsLocked" class="select" data-mdb-filter="true"  >
                {{range .IsLocked_lookup}}<option value="{{.ID}}" {{if eq .ID $.IsLocked}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="IsLocked" >IsLocked</label>
            <div class="{{.IsLocked_props.MsgFeedBackType}}">{{.IsLocked_props.MsgMessage}}</div>
            
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            
            <select id="Notify" name="Notify" class="select" data-mdb-filter="true"  >
                {{range .Notify_lookup}}<option value="{{.ID}}" {{if eq .ID $.Notify}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="Notify" >Notify</label>
            <div class="{{.Notify_props.MsgFeedBackType}}">{{.Notify_props.MsgMessage}}</div>
            
        
        </div></div>
      
      
    </div>
    {{template "audit" .}}
  </div>
</form>

{{template "userfooter" .}}
{{template "pagefooter" .}}