{{template "header" .}} {{template "bodydefinition" .}}
<form action="/EstimationStateEdit/?EstimationStateID={{.EstimationStateID}}" method="POST" class="form">
    <div class="card">
        <div class="card-header align-items-center" >
            <div class="row align-items-center">
                <div class="col h3 align-items-center">
                    <i class="fas fa-cogs me-2" title="EstimationStateID = {{.EstimationStateID}}"></i><span class="me-3">{{.Title}}</span>
                </div>
                <div class="col d-flex justify-content-end">
                    <div class="btn-group float-right">
                        
                        <button type="submit" class="btn btn-warning" method="get" formaction="/EstimationStateEdit/?EstimationStateID={{.EstimationStateID}}"  title="Edit Estimation State {{.EstimationStateID}}"><i class="fas fa-pen me-2"></i>Edit</button>
                        <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Estimation State {{.EstimationStateID}}"><i class="fas fa-print me-2"></i>Print</button>
                        <button type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSId" aria-describedby="SYSIdHelp" placeholder="0" disabled value="{{.SYSId}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSId">SYSId</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="EstimationStateID" aria-describedby="EstimationStateIDHelp" placeholder="" disabled value="{{.EstimationStateID}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="EstimationStateID"><i class="fas fa-key me-2"></i>EstimationStateID</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Code" aria-describedby="CodeHelp" placeholder="" disabled value="{{.Code}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="Code">Code</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Name" aria-describedby="NameHelp" placeholder="" disabled value="{{.Name}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="Name">Name</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder="" disabled value="{{.SYSCreated}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSCreated">SYSCreated</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" disabled value="{{.SYSCreatedBy}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSCreatedBy">SYSCreatedBy</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" disabled value="{{.SYSCreatedHost}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSCreatedHost">SYSCreatedHost</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" disabled value="{{.SYSUpdated}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSUpdated">SYSUpdated</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" disabled value="{{.SYSUpdatedBy}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSUpdatedBy">SYSUpdatedBy</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" disabled value="{{.SYSUpdatedHost}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSUpdatedHost">SYSUpdatedHost</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDeleted" aria-describedby="SYSDeletedHelp" placeholder="" disabled value="{{.SYSDeleted}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSDeleted">SYSDeleted</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDeletedBy" aria-describedby="SYSDeletedByHelp" placeholder="" disabled value="{{.SYSDeletedBy}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSDeletedBy">SYSDeletedBy</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDeletedHost" aria-describedby="SYSDeletedHostHelp" placeholder="" disabled value="{{.SYSDeletedHost}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSDeletedHost">SYSDeletedHost</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDbVersion" aria-describedby="SYSDbVersionHelp" placeholder="" disabled value="{{.SYSDbVersion}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSDbVersion">SYSDbVersion</label>
                        
                    </div>
                
                </div>
            </div>
            
        </div>
        {{template "audit" .}}
    </div>
</form>

{{template "userfooter" .}} {{template "pagefooter" .}}