{{template "header" .}}
<link rel="stylesheet" type="text/css" href="/assets/DataTables/datatables.min.css"/>
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header align-items-center" style="padding-bottom:0;">
              <div class="row d-flex align-items-center">
                <div class="col h4 align-items-center">
                  <i class="fas fa-inbox me-2 text-primary"></i><span class="me-3">{{.Title}}</span>
                </div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="GET" style="padding:0;">
                    <div class="btn-group float-right" style="margin-bottom:0rem;">
                    
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>



            <div class="card-body">
             
                           
                    <table id="DataTable" class="table table-hover table-responsive" style="width:100%">
                      <thead class="table-primary text-uppercase">
                        <tr style="">
                          
                          
                          
                          
                          
                          
                          
                          
                          <th class="text-center">MailTo</th>
                          <th class="text-center">MailFrom</th>
                          
                          <th class="text-center">MailSent</th>
                          <th class="text-center">MailUnread</th>
                          <th class="text-center">MailSubject</th>
                          <th class="text-center">MailContent</th>
                          <th class="text-center">MailAcknowledged</th>
                          
                          
                          
                          
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          
                          
                          
                          
                          
                          
                          
                          
                          <td class="align-middle" >{{.MailTo}}</td>
                          <td class="align-middle" >{{.MailFrom}}</td>
                          
                          <td class="align-middle" >{{.MailSent}}</td>
                          <td class="align-middle" >{{.MailUnread}}</td>
                          <td class="align-middle" >{{.MailSubject}}</td>
                          <td class="align-middle" >{{.MailContent}}</td>
                          <td class="align-middle" >{{.MailAcknowledged}}</td>
                          
                          
                          
                          
                          
                          <td class="align-middle text-center" style="width:1px;padding:0px;padding-top:1rem;">
                              <form action="/home" method="POST" class="d-flex justify-content-center">
                                  <div class="btn-group" id="ActionButtonGroup2">
                                    <button type="submit" value="" class="btn  btn-info " formaction="/InboxView?Message={{.MailId}}" method="POST" title="View Inbox"><i class="far fa-eye"></i></button>
                                    
                                    <button type="submit" value="" class="btn  btn-danger " formaction="/InboxDelete?Message={{.MailId}}" method="POST" title="Delete Inbox"><i class="fas fa-trash"></i></button>
                                  </div>
                                </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                       <tfoot class="table-light text-uppercase">
                        <tr style="">
                          
                          
                          
                          
                          
                          
                          
                          
                          <th class="text-center">MailTo</th>
                          <th class="text-center">MailFrom</th>
                          
                          <th class="text-center">MailSent</th>
                          <th class="text-center">MailUnread</th>
                          <th class="text-center">MailSubject</th>
                          <th class="text-center">MailContent</th>
                          <th class="text-center">MailAcknowledged</th>
                          
                          
                          
                          
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </tfoot>
                    </table>
            

            </div>
        </form>
      </div>




{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "tablecontrols" .}}
{{template "pagefooter" .}}