{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/FeatureSave" method="GET" class="form">
      <div class="card">
          <div class="card-header align-items-center" style="padding-bottom:0;">
            <div class="row d-flex align-items-center">

                <div class="col h4 align-items-center">
                  <i class="fas fa-tasks me-2 text-primary"
                    title="FeatureID=NEW"></i><span class="me-3">{{.Title}}</span>
                </div>

                <div class="col d-flex justify-content-end">
                  <div class="btn-group float-right" style="margin-bottom:1rem;">
                  
                    <button type="submit" value="" class="btn btn-danger" method="GET" formaction="/FeatureSave" onclick="/FeatureSave" title="Save Feature"><i class="fas fa-save me-2"></i>Save</button>
                  
                    <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Feature"><i class="fas fa-print me-2"></i>Print</button>
                    <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
                  </div>
                </div>
          </div>
        </div>
        <div class="card-body">
      
            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSId_props.MsgType}}" id="SYSId" name="SYSId" aria-describedby="SYSIdHelp" placeholder="0" hidden value="new" required data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSId" hidden>SYSId</label>
              <div class="{{.SYSId_props.MsgFeedBackType}}">{{.SYSId_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.FeatureID_props.MsgType}}" id="FeatureID" name="FeatureID" aria-describedby="FeatureIDHelp" placeholder=""  value="{{.FeatureID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="FeatureID" ><i class="fas fa-key me-2"></i>FeatureID</label>
              <div class="{{.FeatureID_props.MsgFeedBackType}}">{{.FeatureID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <select id="EstimationSessionID" name="EstimationSessionID" class="select" data-mdb-filter="true" readonly="true" required>
                {{range .EstimationSessionID_lookup}}<option value="{{.ID}}" {{if eq .ID $.EstimationSessionID}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .EstimationSessionID}}selected{{end}} data-mdb-secondary-text=""></option>
            </select>
            <label class="form-label select-label" for="EstimationSessionID" readonly="true">EstimationSessionID</label>
            <div class="text-danger small">{{.EstimationSessionID_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="ConfidenceCODE" name="ConfidenceCODE" class="select" data-mdb-filter="true"  required>
                {{range .ConfidenceCODE_lookup}}<option value="{{.ID}}" {{if eq .ID $.ConfidenceCODE}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .ConfidenceCODE}}selected{{end}} data-mdb-secondary-text=""></option>
            </select>
            <label class="form-label select-label" for="ConfidenceCODE" >ConfidenceCODE</label>
            <div class="text-danger small">{{.ConfidenceCODE_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Name_props.MsgType}}" id="Name" name="Name" aria-describedby="NameHelp" placeholder=""  value="{{.Name}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Name" >Name</label>
              <div class="{{.Name_props.MsgFeedBackType}}">{{.Name_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.DevelopmentEstimate_props.MsgType}}" id="DevelopmentEstimate" name="DevelopmentEstimate" aria-describedby="DevelopmentEstimateHelp" placeholder="" readonly="true" value="{{.DevelopmentEstimate}}"  data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label" for="DevelopmentEstimate" readonly="true">DevelopmentEstimate</label>
              <div class="{{.DevelopmentEstimate_props.MsgFeedBackType}}">{{.DevelopmentEstimate_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.DevelopmentFactored_props.MsgType}}" id="DevelopmentFactored" name="DevelopmentFactored" aria-describedby="DevelopmentFactoredHelp" placeholder="" readonly="true" value="{{.DevelopmentFactored}}"  data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label" for="DevelopmentFactored" readonly="true">DevelopmentFactored</label>
              <div class="{{.DevelopmentFactored_props.MsgFeedBackType}}">{{.DevelopmentFactored_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.Requirements_props.MsgType}}" id="Requirements" name="Requirements" aria-describedby="RequirementsHelp" placeholder=""  value="{{.Requirements}}"  data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label" for="Requirements" >Requirements</label>
              <div class="{{.Requirements_props.MsgFeedBackType}}">{{.Requirements_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.AnalystTest_props.MsgType}}" id="AnalystTest" name="AnalystTest" aria-describedby="AnalystTestHelp" placeholder=""  value="{{.AnalystTest}}"  data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label" for="AnalystTest" >AnalystTest</label>
              <div class="{{.AnalystTest_props.MsgFeedBackType}}">{{.AnalystTest_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.Documentation_props.MsgType}}" id="Documentation" name="Documentation" aria-describedby="DocumentationHelp" placeholder=""  value="{{.Documentation}}"  data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label" for="Documentation" >Documentation</label>
              <div class="{{.Documentation_props.MsgFeedBackType}}">{{.Documentation_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.Management_props.MsgType}}" id="Management" name="Management" aria-describedby="ManagementHelp" placeholder=""  value="{{.Management}}"  data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label" for="Management" >Management</label>
              <div class="{{.Management_props.MsgFeedBackType}}">{{.Management_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.UatSupport_props.MsgType}}" id="UatSupport" name="UatSupport" aria-describedby="UatSupportHelp" placeholder=""  value="{{.UatSupport}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="UatSupport" >UatSupport</label>
              <div class="{{.UatSupport_props.MsgFeedBackType}}">{{.UatSupport_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.Marketing_props.MsgType}}" id="Marketing" name="Marketing" aria-describedby="MarketingHelp" placeholder=""  value="{{.Marketing}}"  data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label" for="Marketing" >Marketing</label>
              <div class="{{.Marketing_props.MsgFeedBackType}}">{{.Marketing_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.Contingency_props.MsgType}}" id="Contingency" name="Contingency" aria-describedby="ContingencyHelp" placeholder=""  value="{{.Contingency}}"  data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label" for="Contingency" >Contingency</label>
              <div class="{{.Contingency_props.MsgFeedBackType}}">{{.Contingency_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.TrackerID_props.MsgType}}" id="TrackerID" name="TrackerID" aria-describedby="TrackerIDHelp" placeholder=""  value="{{.TrackerID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="TrackerID" >TrackerID</label>
              <div class="{{.TrackerID_props.MsgFeedBackType}}">{{.TrackerID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.AdoID_props.MsgType}}" id="AdoID" name="AdoID" aria-describedby="AdoIDHelp" placeholder=""  value="{{.AdoID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="AdoID" >AdoID</label>
              <div class="{{.AdoID_props.MsgFeedBackType}}">{{.AdoID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.FreshdeskID_props.MsgType}}" id="FreshdeskID" name="FreshdeskID" aria-describedby="FreshdeskIDHelp" placeholder=""  value="{{.FreshdeskID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="FreshdeskID" >FreshdeskID</label>
              <div class="{{.FreshdeskID_props.MsgFeedBackType}}">{{.FreshdeskID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ExtRef_props.MsgType}}" id="ExtRef" name="ExtRef" aria-describedby="ExtRefHelp" placeholder=""  value="{{.ExtRef}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="ExtRef" >ExtRef</label>
              <div class="{{.ExtRef_props.MsgFeedBackType}}">{{.ExtRef_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ExtRef2_props.MsgType}}" id="ExtRef2" name="ExtRef2" aria-describedby="ExtRef2Help" placeholder=""  value="{{.ExtRef2}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="ExtRef2" >ExtRef2</label>
              <div class="{{.ExtRef2_props.MsgFeedBackType}}">{{.ExtRef2_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSCreated_props.MsgType}}" id="SYSCreated" name="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder="" hidden value="{{.SYSCreated}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSCreated" hidden>SYSCreated</label>
              <div class="{{.SYSCreated_props.MsgFeedBackType}}">{{.SYSCreated_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSCreatedBy_props.MsgType}}" id="SYSCreatedBy" name="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" hidden value="{{.SYSCreatedBy}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSCreatedBy" hidden>SYSCreatedBy</label>
              <div class="{{.SYSCreatedBy_props.MsgFeedBackType}}">{{.SYSCreatedBy_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSCreatedHost_props.MsgType}}" id="SYSCreatedHost" name="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" hidden value="{{.SYSCreatedHost}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSCreatedHost" hidden>SYSCreatedHost</label>
              <div class="{{.SYSCreatedHost_props.MsgFeedBackType}}">{{.SYSCreatedHost_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSUpdated_props.MsgType}}" id="SYSUpdated" name="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" hidden value="{{.SYSUpdated}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSUpdated" hidden>SYSUpdated</label>
              <div class="{{.SYSUpdated_props.MsgFeedBackType}}">{{.SYSUpdated_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSUpdatedBy_props.MsgType}}" id="SYSUpdatedBy" name="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" hidden value="{{.SYSUpdatedBy}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSUpdatedBy" hidden>SYSUpdatedBy</label>
              <div class="{{.SYSUpdatedBy_props.MsgFeedBackType}}">{{.SYSUpdatedBy_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSUpdatedHost_props.MsgType}}" id="SYSUpdatedHost" name="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" hidden value="{{.SYSUpdatedHost}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSUpdatedHost" hidden>SYSUpdatedHost</label>
              <div class="{{.SYSUpdatedHost_props.MsgFeedBackType}}">{{.SYSUpdatedHost_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSDeleted_props.MsgType}}" id="SYSDeleted" name="SYSDeleted" aria-describedby="SYSDeletedHelp" placeholder="" hidden value="{{.SYSDeleted}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSDeleted" hidden>SYSDeleted</label>
              <div class="{{.SYSDeleted_props.MsgFeedBackType}}">{{.SYSDeleted_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSDeletedBy_props.MsgType}}" id="SYSDeletedBy" name="SYSDeletedBy" aria-describedby="SYSDeletedByHelp" placeholder="" hidden value="{{.SYSDeletedBy}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSDeletedBy" hidden>SYSDeletedBy</label>
              <div class="{{.SYSDeletedBy_props.MsgFeedBackType}}">{{.SYSDeletedBy_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSDeletedHost_props.MsgType}}" id="SYSDeletedHost" name="SYSDeletedHost" aria-describedby="SYSDeletedHostHelp" placeholder="" hidden value="{{.SYSDeletedHost}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSDeletedHost" hidden>SYSDeletedHost</label>
              <div class="{{.SYSDeletedHost_props.MsgFeedBackType}}">{{.SYSDeletedHost_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="DeveloperResource" name="DeveloperResource" class="select" data-mdb-filter="true"  >
                {{range .DeveloperResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.DeveloperResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .DeveloperResource}}selected{{end}} data-mdb-secondary-text=""></option>
            </select>
            <label class="form-label select-label" for="DeveloperResource" >DeveloperResource</label>
            <div class="text-danger small">{{.DeveloperResource_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="ApproverResource" name="ApproverResource" class="select" data-mdb-filter="true"  >
                {{range .ApproverResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.ApproverResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .ApproverResource}}selected{{end}} data-mdb-secondary-text=""></option>
            </select>
            <label class="form-label select-label" for="ApproverResource" >ApproverResource</label>
            <div class="text-danger small">{{.ApproverResource_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <textarea class="form-control {{.Activity_props.MsgType}}" id="Activity" name="Activity" aria-describedby="ActivityHelp" placeholder="" readonly="true"  value="{{.Activity}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.Activity}}</textarea>
            
           
           
              <label class="form-label" for="Activity" readonly="true">Activity</label>
              <div class="{{.Activity_props.MsgFeedBackType}}">{{.Activity_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <select id="OffProfile" name="OffProfile" class="select" data-mdb-filter="true" readonly="true" >
                {{range .OffProfile_lookup}}<option value="{{.ID}}" {{if eq .ID $.OffProfile}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .OffProfile}}selected{{end}} data-mdb-secondary-text=""></option>
            </select>
            <label class="form-label select-label" for="OffProfile" readonly="true">OffProfile</label>
            <div class="text-danger small">{{.OffProfile_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <textarea class="form-control {{.OffProfileJustification_props.MsgType}}" id="OffProfileJustification" name="OffProfileJustification" aria-describedby="OffProfileJustificationHelp" placeholder=""   value="{{.OffProfileJustification}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.OffProfileJustification}}</textarea>
            
           
           
              <label class="form-label" for="OffProfileJustification" >OffProfileJustification</label>
              <div class="{{.OffProfileJustification_props.MsgFeedBackType}}">{{.OffProfileJustification_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSActivity_props.MsgType}}" id="SYSActivity" name="SYSActivity" aria-describedby="SYSActivityHelp" placeholder="" hidden value="{{.SYSActivity}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSActivity" hidden>SYSActivity</label>
              <div class="{{.SYSActivity_props.MsgFeedBackType}}">{{.SYSActivity_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.RequirementsDefault_props.MsgType}}" id="RequirementsDefault" name="RequirementsDefault" aria-describedby="RequirementsDefaultHelp" placeholder="" readonly="true" value="{{.RequirementsDefault}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="RequirementsDefault" readonly="true">RequirementsDefault</label>
              <div class="{{.RequirementsDefault_props.MsgFeedBackType}}">{{.RequirementsDefault_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.AnalystTestDefault_props.MsgType}}" id="AnalystTestDefault" name="AnalystTestDefault" aria-describedby="AnalystTestDefaultHelp" placeholder="" readonly="true" value="{{.AnalystTestDefault}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="AnalystTestDefault" readonly="true">AnalystTestDefault</label>
              <div class="{{.AnalystTestDefault_props.MsgFeedBackType}}">{{.AnalystTestDefault_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.DocumentationDefault_props.MsgType}}" id="DocumentationDefault" name="DocumentationDefault" aria-describedby="DocumentationDefaultHelp" placeholder="" readonly="true" value="{{.DocumentationDefault}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="DocumentationDefault" readonly="true">DocumentationDefault</label>
              <div class="{{.DocumentationDefault_props.MsgFeedBackType}}">{{.DocumentationDefault_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ManagementDefault_props.MsgType}}" id="ManagementDefault" name="ManagementDefault" aria-describedby="ManagementDefaultHelp" placeholder="" readonly="true" value="{{.ManagementDefault}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="ManagementDefault" readonly="true">ManagementDefault</label>
              <div class="{{.ManagementDefault_props.MsgFeedBackType}}">{{.ManagementDefault_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.UatSupportDefault_props.MsgType}}" id="UatSupportDefault" name="UatSupportDefault" aria-describedby="UatSupportDefaultHelp" placeholder="" readonly="true" value="{{.UatSupportDefault}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="UatSupportDefault" readonly="true">UatSupportDefault</label>
              <div class="{{.UatSupportDefault_props.MsgFeedBackType}}">{{.UatSupportDefault_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.MarketingDefault_props.MsgType}}" id="MarketingDefault" name="MarketingDefault" aria-describedby="MarketingDefaultHelp" placeholder="" readonly="true" value="{{.MarketingDefault}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="MarketingDefault" readonly="true">MarketingDefault</label>
              <div class="{{.MarketingDefault_props.MsgFeedBackType}}">{{.MarketingDefault_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ContingencyDefault_props.MsgType}}" id="ContingencyDefault" name="ContingencyDefault" aria-describedby="ContingencyDefaultHelp" placeholder="" readonly="true" value="{{.ContingencyDefault}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="ContingencyDefault" readonly="true">ContingencyDefault</label>
              <div class="{{.ContingencyDefault_props.MsgFeedBackType}}">{{.ContingencyDefault_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.DevelopmentFactoredDefault_props.MsgType}}" id="DevelopmentFactoredDefault" name="DevelopmentFactoredDefault" aria-describedby="DevelopmentFactoredDefaultHelp" placeholder="" readonly="true" value="{{.DevelopmentFactoredDefault}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="DevelopmentFactoredDefault" readonly="true">DevelopmentFactoredDefault</label>
              <div class="{{.DevelopmentFactoredDefault_props.MsgFeedBackType}}">{{.DevelopmentFactoredDefault_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.Total_props.MsgType}}" id="Total" name="Total" aria-describedby="TotalHelp" placeholder="" readonly="true" value="{{.Total}}"  data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label" for="Total" readonly="true">Total</label>
              <div class="{{.Total_props.MsgFeedBackType}}">{{.Total_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSDbVersion_props.MsgType}}" id="SYSDbVersion" name="SYSDbVersion" aria-describedby="SYSDbVersionHelp" placeholder="" hidden value="{{.SYSDbVersion}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSDbVersion" hidden>SYSDbVersion</label>
              <div class="{{.SYSDbVersion_props.MsgFeedBackType}}">{{.SYSDbVersion_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <textarea class="form-control {{.Comments_props.MsgType}}" id="Comments" name="Comments" aria-describedby="CommentsHelp" placeholder=""   value="{{.Comments}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.Comments}}</textarea>
            
           
           
              <label class="form-label" for="Comments" >Comments</label>
              <div class="{{.Comments_props.MsgFeedBackType}}">{{.Comments_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <textarea class="form-control {{.Description_props.MsgType}}" id="Description" name="Description" aria-describedby="DescriptionHelp" placeholder=""   value="{{.Description}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.Description}}</textarea>
            
           
           
              <label class="form-label" for="Description" >Description</label>
              <div class="{{.Description_props.MsgFeedBackType}}">{{.Description_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="AnalystResource" name="AnalystResource" class="select" data-mdb-filter="true"  >
                {{range .AnalystResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.AnalystResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .AnalystResource}}selected{{end}} data-mdb-secondary-text=""></option>
            </select>
            <label class="form-label select-label" for="AnalystResource" >AnalystResource</label>
            <div class="text-danger small">{{.AnalystResource_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="ProductManagerResource" name="ProductManagerResource" class="select" data-mdb-filter="true"  >
                {{range .ProductManagerResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProductManagerResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .ProductManagerResource}}selected{{end}} data-mdb-secondary-text=""></option>
            </select>
            <label class="form-label select-label" for="ProductManagerResource" >ProductManagerResource</label>
            <div class="text-danger small">{{.ProductManagerResource_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="ProjectManagerResource" name="ProjectManagerResource" class="select" data-mdb-filter="true"  >
                {{range .ProjectManagerResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProjectManagerResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .ProjectManagerResource}}selected{{end}} data-mdb-secondary-text=""></option>
            </select>
            <label class="form-label select-label" for="ProjectManagerResource" >ProjectManagerResource</label>
            <div class="text-danger small">{{.ProjectManagerResource_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.Training_props.MsgType}}" id="Training" name="Training" aria-describedby="TrainingHelp" placeholder=""  value="{{.Training}}"  data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label" for="Training" >Training</label>
              <div class="{{.Training_props.MsgFeedBackType}}">{{.Training_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.TrainingDefault_props.MsgType}}" id="TrainingDefault" name="TrainingDefault" aria-describedby="TrainingDefaultHelp" placeholder="" readonly="true" value="{{.TrainingDefault}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="TrainingDefault" readonly="true">TrainingDefault</label>
              <div class="{{.TrainingDefault_props.MsgFeedBackType}}">{{.TrainingDefault_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <select id="ProfileDefault" name="ProfileDefault" class="select" data-mdb-filter="true" readonly="true" >
                {{range .ProfileDefault_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProfileDefault}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .ProfileDefault}}selected{{end}} data-mdb-secondary-text=""></option>
            </select>
            <label class="form-label select-label" for="ProfileDefault" readonly="true">ProfileDefault</label>
            <div class="text-danger small">{{.ProfileDefault_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="ProfileSelected" name="ProfileSelected" class="select" data-mdb-filter="true"  >
                {{range .ProfileSelected_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProfileSelected}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .ProfileSelected}}selected{{end}} data-mdb-secondary-text=""></option>
            </select>
            <label class="form-label select-label" for="ProfileSelected" >ProfileSelected</label>
            <div class="text-danger small">{{.ProfileSelected_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.EstimateEffort_props.MsgType}}" id="EstimateEffort" name="EstimateEffort" aria-describedby="EstimateEffortHelp" placeholder=""  value="{{.EstimateEffort}}"  data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label" for="EstimateEffort" >EstimateEffort</label>
              <div class="{{.EstimateEffort_props.MsgFeedBackType}}">{{.EstimateEffort_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.EstimateEffortDefault_props.MsgType}}" id="EstimateEffortDefault" name="EstimateEffortDefault" aria-describedby="EstimateEffortDefaultHelp" placeholder="" readonly="true" value="{{.EstimateEffortDefault}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="EstimateEffortDefault" readonly="true">EstimateEffortDefault</label>
              <div class="{{.EstimateEffortDefault_props.MsgFeedBackType}}">{{.EstimateEffortDefault_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.AnalystEstimate_props.MsgType}}" id="AnalystEstimate" name="AnalystEstimate" aria-describedby="AnalystEstimateHelp" placeholder="" readonly="true" value="{{.AnalystEstimate}}"  data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label" for="AnalystEstimate" readonly="true">AnalystEstimate</label>
              <div class="{{.AnalystEstimate_props.MsgFeedBackType}}">{{.AnalystEstimate_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.TotalDefault_props.MsgType}}" id="TotalDefault" name="TotalDefault" aria-describedby="TotalDefaultHelp" placeholder="" readonly="true" value="{{.TotalDefault}}"  data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label" for="TotalDefault" readonly="true">TotalDefault</label>
              <div class="{{.TotalDefault_props.MsgFeedBackType}}">{{.TotalDefault_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.RequirementsPerc_props.MsgType}}" id="RequirementsPerc" name="RequirementsPerc" aria-describedby="RequirementsPercHelp" placeholder="" readonly="true" value="{{.RequirementsPerc}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="RequirementsPerc" readonly="true">RequirementsPerc</label>
              <div class="{{.RequirementsPerc_props.MsgFeedBackType}}">{{.RequirementsPerc_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.AnalystTestPerc_props.MsgType}}" id="AnalystTestPerc" name="AnalystTestPerc" aria-describedby="AnalystTestPercHelp" placeholder="" readonly="true" value="{{.AnalystTestPerc}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="AnalystTestPerc" readonly="true">AnalystTestPerc</label>
              <div class="{{.AnalystTestPerc_props.MsgFeedBackType}}">{{.AnalystTestPerc_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.DocumentationPerc_props.MsgType}}" id="DocumentationPerc" name="DocumentationPerc" aria-describedby="DocumentationPercHelp" placeholder="" readonly="true" value="{{.DocumentationPerc}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="DocumentationPerc" readonly="true">DocumentationPerc</label>
              <div class="{{.DocumentationPerc_props.MsgFeedBackType}}">{{.DocumentationPerc_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ManagementPerc_props.MsgType}}" id="ManagementPerc" name="ManagementPerc" aria-describedby="ManagementPercHelp" placeholder="" readonly="true" value="{{.ManagementPerc}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="ManagementPerc" readonly="true">ManagementPerc</label>
              <div class="{{.ManagementPerc_props.MsgFeedBackType}}">{{.ManagementPerc_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.UatSupportPerc_props.MsgType}}" id="UatSupportPerc" name="UatSupportPerc" aria-describedby="UatSupportPercHelp" placeholder="" readonly="true" value="{{.UatSupportPerc}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="UatSupportPerc" readonly="true">UatSupportPerc</label>
              <div class="{{.UatSupportPerc_props.MsgFeedBackType}}">{{.UatSupportPerc_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.MarketingPerc_props.MsgType}}" id="MarketingPerc" name="MarketingPerc" aria-describedby="MarketingPercHelp" placeholder="" readonly="true" value="{{.MarketingPerc}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="MarketingPerc" readonly="true">MarketingPerc</label>
              <div class="{{.MarketingPerc_props.MsgFeedBackType}}">{{.MarketingPerc_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ContingencyPerc_props.MsgType}}" id="ContingencyPerc" name="ContingencyPerc" aria-describedby="ContingencyPercHelp" placeholder="" readonly="true" value="{{.ContingencyPerc}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="ContingencyPerc" readonly="true">ContingencyPerc</label>
              <div class="{{.ContingencyPerc_props.MsgFeedBackType}}">{{.ContingencyPerc_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.TrainingPerc_props.MsgType}}" id="TrainingPerc" name="TrainingPerc" aria-describedby="TrainingPercHelp" placeholder="" readonly="true" value="{{.TrainingPerc}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="TrainingPerc" readonly="true">TrainingPerc</label>
              <div class="{{.TrainingPerc_props.MsgFeedBackType}}">{{.TrainingPerc_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.RoundedTo_props.MsgType}}" id="RoundedTo" name="RoundedTo" aria-describedby="RoundedToHelp" placeholder="" readonly="true" value="{{.RoundedTo}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="RoundedTo" readonly="true">RoundedTo</label>
              <div class="{{.RoundedTo_props.MsgFeedBackType}}">{{.RoundedTo_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.OriginName_props.MsgType}}" id="OriginName" name="OriginName" aria-describedby="OriginNameHelp" placeholder="" readonly="true" value="{{.OriginName}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="OriginName" readonly="true">OriginName</label>
              <div class="{{.OriginName_props.MsgFeedBackType}}">{{.OriginName_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ProjectName_props.MsgType}}" id="ProjectName" name="ProjectName" aria-describedby="ProjectNameHelp" placeholder="" readonly="true" value="{{.ProjectName}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="ProjectName" readonly="true">ProjectName</label>
              <div class="{{.ProjectName_props.MsgFeedBackType}}">{{.ProjectName_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.OriginID_props.MsgType}}" id="OriginID" name="OriginID" aria-describedby="OriginIDHelp" placeholder="" readonly="true" value="{{.OriginID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="OriginID" readonly="true">OriginID</label>
              <div class="{{.OriginID_props.MsgFeedBackType}}">{{.OriginID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ProjectID_props.MsgType}}" id="ProjectID" name="ProjectID" aria-describedby="ProjectIDHelp" placeholder="" readonly="true" value="{{.ProjectID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="ProjectID" readonly="true">ProjectID</label>
              <div class="{{.ProjectID_props.MsgFeedBackType}}">{{.ProjectID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ProfileSelectedOld_props.MsgType}}" id="ProfileSelectedOld" name="ProfileSelectedOld" aria-describedby="ProfileSelectedOldHelp" placeholder="" readonly="true" value="{{.ProfileSelectedOld}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="ProfileSelectedOld" readonly="true">ProfileSelectedOld</label>
              <div class="{{.ProfileSelectedOld_props.MsgFeedBackType}}">{{.ProfileSelectedOld_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.CCY_props.MsgType}}" id="CCY" name="CCY" aria-describedby="CCYHelp" placeholder="" readonly="true" value="{{.CCY}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="CCY" readonly="true">CCY</label>
              <div class="{{.CCY_props.MsgFeedBackType}}">{{.CCY_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.OriginCode_props.MsgType}}" id="OriginCode" name="OriginCode" aria-describedby="OriginCodeHelp" placeholder="" readonly="true" value="{{.OriginCode}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="OriginCode" readonly="true">OriginCode</label>
              <div class="{{.OriginCode_props.MsgFeedBackType}}">{{.OriginCode_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.EstimationSessionName_props.MsgType}}" id="EstimationSessionName" name="EstimationSessionName" aria-describedby="EstimationSessionNameHelp" placeholder="" readonly="true" value="{{.EstimationSessionName}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="EstimationSessionName" readonly="true">EstimationSessionName</label>
              <div class="{{.EstimationSessionName_props.MsgFeedBackType}}">{{.EstimationSessionName_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            
              
                

            
              
                

            
              
                

            
              
                

            
              
                

            
              
                

            
              
                

            
              
                

     
        </div>
      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}