{{template "header" .}} {{template "bodydefinition" .}}
<form action="/FeatureEdit/?FeatureID={{.FeatureID}}" method="POST" class="form">
    <div class="card">
        <div class="card-header align-items-center" style="padding-bottom:0;">
            <div class="row d-flex align-items-center">
                <div class="col h4 align-items-center">
                  <i class="fas fa-tasks me-2 text-primary" title="FeatureID={{.FeatureID}}"></i><span class="me-3">{{.Title}}</span>
                </div>
                <div class="col d-flex justify-content-end">
                  <div class="btn-group float-right" style="margin-bottom:1rem;">
                        
                        <button type="submit" class="btn btn-warning" method="get" formaction="/FeatureEdit/?FeatureID={{.FeatureID}}"  title="Edit Feature {{.FeatureID}}"><i class="fas fa-pen me-2"></i>Edit</button>
                        <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Feature {{.FeatureID}}"><i class="fas fa-print me-2"></i>Print</button>
                        <button type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSId" aria-describedby="SYSIdHelp" placeholder="0" disabled value="{{.SYSId}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSId">SYSId</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="FeatureID" aria-describedby="FeatureIDHelp" placeholder="" disabled value="{{.FeatureID}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="FeatureID"><i class="fas fa-key me-2"></i>FeatureID</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="EstimationSessionID" name="EstimationSessionID" class="select" data-mdb-filter="true" disabled>
                  {{range .EstimationSessionID_lookup}}<option value="{{.ID}}" {{if eq .ID $.EstimationSessionID}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .EstimationSessionID}}selected{{end}} data-mdb-secondary-text=""></option>
                  </select>
                  <label class="form-label select-label" for="EstimationSessionID" disabled>EstimationSessionID</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="ConfidenceCODE" name="ConfidenceCODE" class="select" data-mdb-filter="true" disabled>
                  {{range .ConfidenceCODE_lookup}}<option value="{{.ID}}" {{if eq .ID $.ConfidenceCODE}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .ConfidenceCODE}}selected{{end}} data-mdb-secondary-text=""></option>
                  </select>
                  <label class="form-label select-label" for="ConfidenceCODE" disabled>ConfidenceCODE</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Name" aria-describedby="NameHelp" placeholder="" disabled value="{{.Name}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="Name">Name</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="number" class="form-control" id="DevelopmentEstimate" aria-describedby="DevelopmentEstimateHelp" placeholder="" disabled value="{{.DevelopmentEstimate}}" data-mdb-input-mask="" step="0.25"></input>
                        
                        <label class="form-label" for="DevelopmentEstimate">DevelopmentEstimate</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="number" class="form-control" id="DevelopmentFactored" aria-describedby="DevelopmentFactoredHelp" placeholder="" disabled value="{{.DevelopmentFactored}}" data-mdb-input-mask="" step="0.25"></input>
                        
                        <label class="form-label" for="DevelopmentFactored">DevelopmentFactored</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="number" class="form-control" id="Requirements" aria-describedby="RequirementsHelp" placeholder="" disabled value="{{.Requirements}}" data-mdb-input-mask="" step="0.25"></input>
                        
                        <label class="form-label" for="Requirements">Requirements</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="number" class="form-control" id="AnalystTest" aria-describedby="AnalystTestHelp" placeholder="" disabled value="{{.AnalystTest}}" data-mdb-input-mask="" step="0.25"></input>
                        
                        <label class="form-label" for="AnalystTest">AnalystTest</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="number" class="form-control" id="Documentation" aria-describedby="DocumentationHelp" placeholder="" disabled value="{{.Documentation}}" data-mdb-input-mask="" step="0.25"></input>
                        
                        <label class="form-label" for="Documentation">Documentation</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="number" class="form-control" id="Management" aria-describedby="ManagementHelp" placeholder="" disabled value="{{.Management}}" data-mdb-input-mask="" step="0.25"></input>
                        
                        <label class="form-label" for="Management">Management</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="UatSupport" aria-describedby="UatSupportHelp" placeholder="" disabled value="{{.UatSupport}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="UatSupport">UatSupport</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="number" class="form-control" id="Marketing" aria-describedby="MarketingHelp" placeholder="" disabled value="{{.Marketing}}" data-mdb-input-mask="" step="0.25"></input>
                        
                        <label class="form-label" for="Marketing">Marketing</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="number" class="form-control" id="Contingency" aria-describedby="ContingencyHelp" placeholder="" disabled value="{{.Contingency}}" data-mdb-input-mask="" step="0.25"></input>
                        
                        <label class="form-label" for="Contingency">Contingency</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="TrackerID" aria-describedby="TrackerIDHelp" placeholder="" disabled value="{{.TrackerID}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="TrackerID">TrackerID</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="AdoID" aria-describedby="AdoIDHelp" placeholder="" disabled value="{{.AdoID}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="AdoID">AdoID</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="FreshdeskID" aria-describedby="FreshdeskIDHelp" placeholder="" disabled value="{{.FreshdeskID}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="FreshdeskID">FreshdeskID</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="ExtRef" aria-describedby="ExtRefHelp" placeholder="" disabled value="{{.ExtRef}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="ExtRef">ExtRef</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="ExtRef2" aria-describedby="ExtRef2Help" placeholder="" disabled value="{{.ExtRef2}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="ExtRef2">ExtRef2</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder="" disabled value="{{.SYSCreated}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSCreated">SYSCreated</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" disabled value="{{.SYSCreatedBy}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSCreatedBy">SYSCreatedBy</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" disabled value="{{.SYSCreatedHost}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSCreatedHost">SYSCreatedHost</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" disabled value="{{.SYSUpdated}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSUpdated">SYSUpdated</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" disabled value="{{.SYSUpdatedBy}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSUpdatedBy">SYSUpdatedBy</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" disabled value="{{.SYSUpdatedHost}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSUpdatedHost">SYSUpdatedHost</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDeleted" aria-describedby="SYSDeletedHelp" placeholder="" disabled value="{{.SYSDeleted}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSDeleted">SYSDeleted</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDeletedBy" aria-describedby="SYSDeletedByHelp" placeholder="" disabled value="{{.SYSDeletedBy}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSDeletedBy">SYSDeletedBy</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDeletedHost" aria-describedby="SYSDeletedHostHelp" placeholder="" disabled value="{{.SYSDeletedHost}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSDeletedHost">SYSDeletedHost</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="DeveloperResource" name="DeveloperResource" class="select" data-mdb-filter="true" disabled>
                  {{range .DeveloperResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.DeveloperResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .DeveloperResource}}selected{{end}} data-mdb-secondary-text=""></option>
                  </select>
                  <label class="form-label select-label" for="DeveloperResource" disabled>DeveloperResource</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="ApproverResource" name="ApproverResource" class="select" data-mdb-filter="true" disabled>
                  {{range .ApproverResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.ApproverResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .ApproverResource}}selected{{end}} data-mdb-secondary-text=""></option>
                  </select>
                  <label class="form-label select-label" for="ApproverResource" disabled>ApproverResource</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <textarea class="form-control" id="Activity" name="Activity" aria-describedby="ActivityHelp" placeholder=""  disabled value="{{.Activity}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.Activity}}</textarea>
                        
                        <label class="form-label" for="Activity">Activity</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="OffProfile" name="OffProfile" class="select" data-mdb-filter="true" disabled>
                  {{range .OffProfile_lookup}}<option value="{{.ID}}" {{if eq .ID $.OffProfile}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .OffProfile}}selected{{end}} data-mdb-secondary-text=""></option>
                  </select>
                  <label class="form-label select-label" for="OffProfile" disabled>OffProfile</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <textarea class="form-control" id="OffProfileJustification" name="OffProfileJustification" aria-describedby="OffProfileJustificationHelp" placeholder=""  disabled value="{{.OffProfileJustification}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.OffProfileJustification}}</textarea>
                        
                        <label class="form-label" for="OffProfileJustification">OffProfileJustification</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSActivity" aria-describedby="SYSActivityHelp" placeholder="" disabled value="{{.SYSActivity}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSActivity">SYSActivity</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="RequirementsDefault" aria-describedby="RequirementsDefaultHelp" placeholder="" disabled value="{{.RequirementsDefault}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="RequirementsDefault">RequirementsDefault</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="AnalystTestDefault" aria-describedby="AnalystTestDefaultHelp" placeholder="" disabled value="{{.AnalystTestDefault}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="AnalystTestDefault">AnalystTestDefault</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="DocumentationDefault" aria-describedby="DocumentationDefaultHelp" placeholder="" disabled value="{{.DocumentationDefault}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="DocumentationDefault">DocumentationDefault</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="ManagementDefault" aria-describedby="ManagementDefaultHelp" placeholder="" disabled value="{{.ManagementDefault}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="ManagementDefault">ManagementDefault</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="UatSupportDefault" aria-describedby="UatSupportDefaultHelp" placeholder="" disabled value="{{.UatSupportDefault}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="UatSupportDefault">UatSupportDefault</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="MarketingDefault" aria-describedby="MarketingDefaultHelp" placeholder="" disabled value="{{.MarketingDefault}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="MarketingDefault">MarketingDefault</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="ContingencyDefault" aria-describedby="ContingencyDefaultHelp" placeholder="" disabled value="{{.ContingencyDefault}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="ContingencyDefault">ContingencyDefault</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="DevelopmentFactoredDefault" aria-describedby="DevelopmentFactoredDefaultHelp" placeholder="" disabled value="{{.DevelopmentFactoredDefault}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="DevelopmentFactoredDefault">DevelopmentFactoredDefault</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="number" class="form-control" id="Total" aria-describedby="TotalHelp" placeholder="" disabled value="{{.Total}}" data-mdb-input-mask="" step="0.25"></input>
                        
                        <label class="form-label" for="Total">Total</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDbVersion" aria-describedby="SYSDbVersionHelp" placeholder="" disabled value="{{.SYSDbVersion}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="SYSDbVersion">SYSDbVersion</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <textarea class="form-control" id="Comments" name="Comments" aria-describedby="CommentsHelp" placeholder=""  disabled value="{{.Comments}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.Comments}}</textarea>
                        
                        <label class="form-label" for="Comments">Comments</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <textarea class="form-control" id="Description" name="Description" aria-describedby="DescriptionHelp" placeholder=""  disabled value="{{.Description}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.Description}}</textarea>
                        
                        <label class="form-label" for="Description">Description</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="AnalystResource" name="AnalystResource" class="select" data-mdb-filter="true" disabled>
                  {{range .AnalystResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.AnalystResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .AnalystResource}}selected{{end}} data-mdb-secondary-text=""></option>
                  </select>
                  <label class="form-label select-label" for="AnalystResource" disabled>AnalystResource</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="ProductManagerResource" name="ProductManagerResource" class="select" data-mdb-filter="true" disabled>
                  {{range .ProductManagerResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProductManagerResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .ProductManagerResource}}selected{{end}} data-mdb-secondary-text=""></option>
                  </select>
                  <label class="form-label select-label" for="ProductManagerResource" disabled>ProductManagerResource</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="ProjectManagerResource" name="ProjectManagerResource" class="select" data-mdb-filter="true" disabled>
                  {{range .ProjectManagerResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProjectManagerResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .ProjectManagerResource}}selected{{end}} data-mdb-secondary-text=""></option>
                  </select>
                  <label class="form-label select-label" for="ProjectManagerResource" disabled>ProjectManagerResource</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="number" class="form-control" id="Training" aria-describedby="TrainingHelp" placeholder="" disabled value="{{.Training}}" data-mdb-input-mask="" step="0.25"></input>
                        
                        <label class="form-label" for="Training">Training</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="TrainingDefault" aria-describedby="TrainingDefaultHelp" placeholder="" disabled value="{{.TrainingDefault}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="TrainingDefault">TrainingDefault</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="ProfileDefault" name="ProfileDefault" class="select" data-mdb-filter="true" disabled>
                  {{range .ProfileDefault_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProfileDefault}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .ProfileDefault}}selected{{end}} data-mdb-secondary-text=""></option>
                  </select>
                  <label class="form-label select-label" for="ProfileDefault" disabled>ProfileDefault</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="ProfileSelected" name="ProfileSelected" class="select" data-mdb-filter="true" disabled>
                  {{range .ProfileSelected_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProfileSelected}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .ProfileSelected}}selected{{end}} data-mdb-secondary-text=""></option>
                  </select>
                  <label class="form-label select-label" for="ProfileSelected" disabled>ProfileSelected</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="number" class="form-control" id="EstimateEffort" aria-describedby="EstimateEffortHelp" placeholder="" disabled value="{{.EstimateEffort}}" data-mdb-input-mask="" step="0.25"></input>
                        
                        <label class="form-label" for="EstimateEffort">EstimateEffort</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="EstimateEffortDefault" aria-describedby="EstimateEffortDefaultHelp" placeholder="" disabled value="{{.EstimateEffortDefault}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="EstimateEffortDefault">EstimateEffortDefault</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="number" class="form-control" id="AnalystEstimate" aria-describedby="AnalystEstimateHelp" placeholder="" disabled value="{{.AnalystEstimate}}" data-mdb-input-mask="" step="0.25"></input>
                        
                        <label class="form-label" for="AnalystEstimate">AnalystEstimate</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="number" class="form-control" id="TotalDefault" aria-describedby="TotalDefaultHelp" placeholder="" disabled value="{{.TotalDefault}}" data-mdb-input-mask="" step="0.25"></input>
                        
                        <label class="form-label" for="TotalDefault">TotalDefault</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="OriginName" aria-describedby="OriginNameHelp" placeholder="" disabled value="{{.OriginName}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="OriginName">OriginName</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="ProjectName" aria-describedby="ProjectNameHelp" placeholder="" disabled value="{{.ProjectName}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="ProjectName">ProjectName</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="OriginID" aria-describedby="OriginIDHelp" placeholder="" disabled value="{{.OriginID}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="OriginID">OriginID</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="ProjectID" aria-describedby="ProjectIDHelp" placeholder="" disabled value="{{.ProjectID}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="ProjectID">ProjectID</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="ProfileSelectedOld" aria-describedby="ProfileSelectedOldHelp" placeholder="" disabled value="{{.ProfileSelectedOld}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="ProfileSelectedOld">ProfileSelectedOld</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="CCY" aria-describedby="CCYHelp" placeholder="" disabled value="{{.CCY}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="CCY">CCY</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="RoundTo" aria-describedby="RoundToHelp" placeholder="" disabled value="{{.RoundTo}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="RoundTo">RoundTo</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="OriginCode" aria-describedby="OriginCodeHelp" placeholder="" disabled value="{{.OriginCode}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="OriginCode">OriginCode</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="EstimationSessionName" aria-describedby="EstimationSessionNameHelp" placeholder="" disabled value="{{.EstimationSessionName}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="EstimationSessionName">EstimationSessionName</label>
                        
                    </div>
                
                </div>
            </div>
            
        </div>
        {{template "audit" .}}
    </div>
</form>

{{template "userfooter" .}} {{template "pagefooter" .}}