{{template "header" .}}
<link rel="stylesheet" type="text/css" href="/assets/DataTables/datatables.min.css"/>
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header font-weight-bold" style="padding-bottom:0;">
              <div class="row d-flex align-items-center">
                <div class="col d-flex align-items-center"><h3><i class="fas fa-tasks me-2"></i>{{.Title}}</h3></div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="GET">
                    <div class="btn-group" id="ActionButtonGroup">
                    <button type="submit" value="" class="btn btn-primary" formaction="/FeatureNew" method="GET" title="Create a new Feature"><i class="fas fa-plus me-2"></i>New</button>
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>



            <div class="card-body">
             
                           
                    <table id="DataTable" class="table table-hover table-responsive" style="width:100%">
                      <thead class="table-light">
                        <tr style="background-color:red;">
                          
                          
                          <th class="text-center">EstimationSessionID</th>
                          <th class="text-center">ConfidenceCODE</th>
                          <th class="text-center">Name</th>
                          <th class="text-center">DevelopmentEstimate</th>
                          <th class="text-center">DevelopmentFactored</th>
                          <th class="text-center">Requirements</th>
                          <th class="text-center">AnalystTest</th>
                          <th class="text-center">Documentation</th>
                          <th class="text-center">Management</th>
                          <th class="text-center">UatSupport</th>
                          <th class="text-center">Marketing</th>
                          <th class="text-center">Contingency</th>
                          <th class="text-center">TrackerID</th>
                          <th class="text-center">AdoID</th>
                          <th class="text-center">FreshdeskID</th>
                          <th class="text-center">ExtRef</th>
                          <th class="text-center">ExtRef2</th>
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          <th class="text-center">DeveloperResource</th>
                          <th class="text-center">ApproverResource</th>
                          <th class="text-center">Activity</th>
                          <th class="text-center">OffProfile</th>
                          <th class="text-center">OffProfileJustification</th>
                          
                          <th class="text-center">RequirementsDefault</th>
                          <th class="text-center">AnalystTestDefault</th>
                          <th class="text-center">DocumentationDefault</th>
                          <th class="text-center">ManagementDefault</th>
                          <th class="text-center">UatSupportDefault</th>
                          <th class="text-center">MarketingDefault</th>
                          <th class="text-center">ContingencyDefault</th>
                          <th class="text-center">DevelopmentFactoredDefault</th>
                          <th class="text-center">Total</th>
                          
                          <th class="text-center">Comments</th>
                          <th class="text-center">Description</th>
                          <th class="text-center">AnalystResource</th>
                          <th class="text-center">ProductManagerResource</th>
                          <th class="text-center">ProjectManagerResource</th>
                          <th class="text-center">Training</th>
                          <th class="text-center">TrainingDefault</th>
                          <th class="text-center">ProfileDefault</th>
                          <th class="text-center">ProfileSelected</th>
                          <th class="text-center">EstimateEffort</th>
                          
                          <th class="text-center">AnalystEstimate</th>
                          <th class="text-center">TotalDefault</th>
                          <th class="text-center">OriginName</th>
                          <th class="text-center">ProjectName</th>
                          <th class="text-center">OriginID</th>
                          <th class="text-center">ProjectID</th>
                          <th class="text-center">ProfileSelectedOld</th>
                          <th class="text-center">CCY</th>
                          <th class="text-center">RoundTo</th>
                          <th class="text-center">OriginCode</th>
                          <th class="text-center">EstimationSessionName</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          
                          
                          <td class="align-middle" >{{.EstimationSessionID}}</td>
                          <td class="align-middle" >{{.ConfidenceCODE}}</td>
                          <td class="align-middle" >{{.Name}}</td>
                          <td class="align-middle" >{{.DevelopmentEstimate}}</td>
                          <td class="align-middle" >{{.DevelopmentFactored}}</td>
                          <td class="align-middle" >{{.Requirements}}</td>
                          <td class="align-middle" >{{.AnalystTest}}</td>
                          <td class="align-middle" >{{.Documentation}}</td>
                          <td class="align-middle" >{{.Management}}</td>
                          <td class="align-middle" >{{.UatSupport}}</td>
                          <td class="align-middle" >{{.Marketing}}</td>
                          <td class="align-middle" >{{.Contingency}}</td>
                          <td class="align-middle" >{{.TrackerID}}</td>
                          <td class="align-middle" >{{.AdoID}}</td>
                          <td class="align-middle" >{{.FreshdeskID}}</td>
                          <td class="align-middle" >{{.ExtRef}}</td>
                          <td class="align-middle" >{{.ExtRef2}}</td>
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          <td class="align-middle" >{{.DeveloperResource}}</td>
                          <td class="align-middle" >{{.ApproverResource}}</td>
                          <td class="align-middle" >{{.Activity}}</td>
                          <td class="align-middle" >{{.OffProfile}}</td>
                          <td class="align-middle" >{{.OffProfileJustification}}</td>
                          
                          <td class="align-middle" >{{.RequirementsDefault}}</td>
                          <td class="align-middle" >{{.AnalystTestDefault}}</td>
                          <td class="align-middle" >{{.DocumentationDefault}}</td>
                          <td class="align-middle" >{{.ManagementDefault}}</td>
                          <td class="align-middle" >{{.UatSupportDefault}}</td>
                          <td class="align-middle" >{{.MarketingDefault}}</td>
                          <td class="align-middle" >{{.ContingencyDefault}}</td>
                          <td class="align-middle" >{{.DevelopmentFactoredDefault}}</td>
                          <td class="align-middle" >{{.Total}}</td>
                          
                          <td class="align-middle" >{{.Comments}}</td>
                          <td class="align-middle" >{{.Description}}</td>
                          <td class="align-middle" >{{.AnalystResource}}</td>
                          <td class="align-middle" >{{.ProductManagerResource}}</td>
                          <td class="align-middle" >{{.ProjectManagerResource}}</td>
                          <td class="align-middle" >{{.Training}}</td>
                          <td class="align-middle" >{{.TrainingDefault}}</td>
                          <td class="align-middle" >{{.ProfileDefault}}</td>
                          <td class="align-middle" >{{.ProfileSelected}}</td>
                          <td class="align-middle" >{{.EstimateEffort}}</td>
                          
                          <td class="align-middle" >{{.AnalystEstimate}}</td>
                          <td class="align-middle" >{{.TotalDefault}}</td>
                          <td class="align-middle" >{{.OriginName}}</td>
                          <td class="align-middle" >{{.ProjectName}}</td>
                          <td class="align-middle" >{{.OriginID}}</td>
                          <td class="align-middle" >{{.ProjectID}}</td>
                          <td class="align-middle" >{{.ProfileSelectedOld}}</td>
                          <td class="align-middle" >{{.CCY}}</td>
                          <td class="align-middle" >{{.RoundTo}}</td>
                          <td class="align-middle" >{{.OriginCode}}</td>
                          <td class="align-middle" >{{.EstimationSessionName}}</td>
                          
                          <td class="align-middle text-center" style="width:1px;padding:0px;padding-top:1rem;">
                              <form action="/home" method="POST" class="d-flex justify-content-center">
                                  <div class="btn-group" id="ActionButtonGroup2">
                                    <button type="submit" value="" class="btn btn-sm btn-info " formaction="/FeatureView?FeatureID={{.FeatureID}}" method="POST" title="View Feature"><i class="far fa-eye"></i>View</button>
                                    <button type="submit" value="" class="btn btn-sm btn-warning " formaction="/FeatureEdit?FeatureID={{.FeatureID}}" method="POST" title="Edit Feature"><i class="fas fa-edit"></i>Edit</button>
                                    <button type="submit" value="" class="btn btn-sm btn-danger " formaction="/FeatureDelete?FeatureID={{.FeatureID}}" method="POST" title="Delete Feature"><i class="fas fa-trash"></i>Delete</button>
                                  </div>
                                </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                       <tfoot class="table-light">
                        <tr style="background-color:red;">
                          
                          
                          <th class="text-center">EstimationSessionID</th>
                          <th class="text-center">ConfidenceCODE</th>
                          <th class="text-center">Name</th>
                          <th class="text-center">DevelopmentEstimate</th>
                          <th class="text-center">DevelopmentFactored</th>
                          <th class="text-center">Requirements</th>
                          <th class="text-center">AnalystTest</th>
                          <th class="text-center">Documentation</th>
                          <th class="text-center">Management</th>
                          <th class="text-center">UatSupport</th>
                          <th class="text-center">Marketing</th>
                          <th class="text-center">Contingency</th>
                          <th class="text-center">TrackerID</th>
                          <th class="text-center">AdoID</th>
                          <th class="text-center">FreshdeskID</th>
                          <th class="text-center">ExtRef</th>
                          <th class="text-center">ExtRef2</th>
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          <th class="text-center">DeveloperResource</th>
                          <th class="text-center">ApproverResource</th>
                          <th class="text-center">Activity</th>
                          <th class="text-center">OffProfile</th>
                          <th class="text-center">OffProfileJustification</th>
                          
                          <th class="text-center">RequirementsDefault</th>
                          <th class="text-center">AnalystTestDefault</th>
                          <th class="text-center">DocumentationDefault</th>
                          <th class="text-center">ManagementDefault</th>
                          <th class="text-center">UatSupportDefault</th>
                          <th class="text-center">MarketingDefault</th>
                          <th class="text-center">ContingencyDefault</th>
                          <th class="text-center">DevelopmentFactoredDefault</th>
                          <th class="text-center">Total</th>
                          
                          <th class="text-center">Comments</th>
                          <th class="text-center">Description</th>
                          <th class="text-center">AnalystResource</th>
                          <th class="text-center">ProductManagerResource</th>
                          <th class="text-center">ProjectManagerResource</th>
                          <th class="text-center">Training</th>
                          <th class="text-center">TrainingDefault</th>
                          <th class="text-center">ProfileDefault</th>
                          <th class="text-center">ProfileSelected</th>
                          <th class="text-center">EstimateEffort</th>
                          
                          <th class="text-center">AnalystEstimate</th>
                          <th class="text-center">TotalDefault</th>
                          <th class="text-center">OriginName</th>
                          <th class="text-center">ProjectName</th>
                          <th class="text-center">OriginID</th>
                          <th class="text-center">ProjectID</th>
                          <th class="text-center">ProfileSelectedOld</th>
                          <th class="text-center">CCY</th>
                          <th class="text-center">RoundTo</th>
                          <th class="text-center">OriginCode</th>
                          <th class="text-center">EstimationSessionName</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </tfoot>
                    </table>
            

            </div>
        </form>
      </div>




{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "tablecontrols" .}}
{{template "pagefooter" .}}