:root {
    --custom-primary-colour: #322a77;
    --custom-primary-rgb: 50, 42, 119;
    --custom-secondary-colour: #202953;
    --custom-secondary-rgb: 102, 102, 102;
    --custom-primary-light: #FFFFFF;
    --custom-primary-light-rgb: 255, 255, 255;
    --custom-primary-dark: #221D53;
    --custom-info-colour: #202953;
    --custom-info-rgb: 32, 41, 83;
    --custom-other-colour: #472A79;
    --custom-other-rgb: 71, 42, 121;
    --custom-font-family: 'Roboto', sans-serif;
    --custom-code-colour: #77216F;
    --custom-grey: #dedede;
    --custom-placeholder: #757575c9;
    --custom-tertiary: #34e1eb;
    --custom-primary-hover: #aaa;
    --custom-primary-border: #d9d7f1;
    --custom-text: #484848;
    --custom-text-rgb: 72, 72, 72;
    --custom-sorted: #7A81DE;
    --custom-gradient2: #6cdbeb;
    --custom-alert: #FF2600;
    --custom-ok: #007F00;
    --custom-background-rgb: 255, 255, 255;
    --custom-background: #FFFFFF;
    --custom-light-grey: #d3d3d3;
    --custom-dark-grey: #404040;
    --custom-audit-text: #b4b4b4;
    --custom-mandatory: #FFEEEC;
    --custom-rag-red: #FF2600;
    --custom-rag-amber: #FFA500;
    --custom-rag-green: #007F00;
    --custom-rag-grey: #808080;
    --custom-rag-black: #000;
    ;
}


.custo-container container-fluid {
    padding-right: inherit !important;
    padding-left: inherit !important;
    margin-top: 4, 5rem;
}


div#DataTable_filter {
    /* background: red; */
    position: relative;
    top: -1.75em;
    right: .25em;
}


div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    margin-left: 80%;
    margin-right: .5%;
}

div.dataTables_wrapper div.dataTables_filter label {
font-family: inherit !important;
color: darkgray;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination{
}

div.dataTables_wrapper div.dataTables_info{
    margin-right: 80%;
    margin-top: 0rem;
    margin-bottom: -2.5rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.5rem;
   
}
body{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.mandatory {
    /* border: 1px solid red !important;
    box-shadow: inset 0 0 0 2px red !important;
        */
    border-radius: 5px;
    box-shadow: inset 0 0 0 2px var(--custom-alert) !important;
    background-color: var(--custom-mandatory) !important;
    border-color: var(--custom-alert) !important;
}

.datedisabled {
    /* border: 1px solid red !important;
    box-shadow: inset 0 0 0 2px red !important;
        */
    border-radius: .25rem;
    background-color: #e9ecef;
}

.datatable tbody tr:last-child {
    border-bottom: 1px;
    border-color: inherit;
    height: fit-content !important;
}
.table-primary {
    color: var(--custom-primary-colour);
    --mdb-table-bg: #CDCDCD;
}



.text-primary {
    --mdb-text-opacity: 1;
    color: var(--custom-primary-colour) !important;
    font-weight: bolder;
  }

  a.breadcrumb-item {

    color: var(--custom-primary-colour) !important;
    font-weight: bolder;
  }
  .a.page-link {
    --mdb-text-opacity: 1;
    color: var(--custom-primary-colour) !important;
    font-weight: bolder;
  }

  .page-item.active .page-link{
    background-color: var(--custom-primary-colour) !important;
    border-color: var(--custom-primary-colour) !important;
  }

  .note-light{
    border-left: 6px solid var(--custom-primary-colour);
  }


  .btn-primary{
    background-color: var(--custom-primary-colour) !important;
  }

 

  .btn-info{
    background-color: var(--custom-info-colour) !important;
  }

  .btn-tertiary{
    background-color: var(--custom-other-colour) !important;
    color: white;
  }

  .row.identity{
    background-color: var(--custom-light-grey) !important;
    color: red;
    padding: 5px;
    border-radius: 4px;


  }