{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/ProjectActionSave" method="GET" class="form">
      <div class="card">
          <div class="card-header align-items-center" style="padding-bottom:0;">
            <div class="row d-flex align-items-center">

                <div class="col h4 align-items-center">
                  <i class="fas fa-project-diagram me-2 text-primary"
                    title="ProjectID=NEW"></i><span class="me-3">{{.Title}}</span>
                </div>

                <div class="col d-flex justify-content-end">
                  <div class="btn-group float-right" style="margin-bottom:1rem;">
                  
                    <button type="submit" value="" class="btn btn-danger" method="GET" formaction="/ProjectActionSave" onclick="/ProjectActionSave" title="Save ProjectAction"><i class="fas fa-save me-2"></i>Save</button>
                  
                    <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print ProjectAction"><i class="fas fa-print me-2"></i>Print</button>
                    <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
                  </div>
                </div>
          </div>
        </div>
        <div class="card-body">
      
            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSId_props.MsgType}}" id="SYSId" name="SYSId" aria-describedby="SYSIdHelp" placeholder="0" hidden value="new" required data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSId" hidden>SYSId</label>
              <div class="{{.SYSId_props.MsgFeedBackType}}">{{.SYSId_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ProjectID_props.MsgType}}" id="ProjectID" name="ProjectID" aria-describedby="ProjectIDHelp" placeholder=""  value="{{.ProjectID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="ProjectID" ><i class="fas fa-key me-2"></i>ProjectID</label>
              <div class="{{.ProjectID_props.MsgFeedBackType}}">{{.ProjectID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="OriginID" name="OriginID" class="select" data-mdb-filter="true"  required>
                {{range .OriginID_lookup}}<option value="{{.ID}}" {{if eq .ID $.OriginID}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .OriginID}}selected{{end}} data-mdb-secondary-text=""></option>
            </select>
            <label class="form-label select-label" for="OriginID" >OriginID</label>
            <div class="text-danger small">{{.OriginID_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="ProjectStateID" name="ProjectStateID" class="select" data-mdb-filter="true"  >
                {{range .ProjectStateID_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProjectStateID}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .ProjectStateID}}selected{{end}} data-mdb-secondary-text=""></option>
            </select>
            <label class="form-label select-label" for="ProjectStateID" >ProjectStateID</label>
            <div class="text-danger small">{{.ProjectStateID_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="ProfileID" name="ProfileID" class="select" data-mdb-filter="true"  >
                {{range .ProfileID_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProfileID}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .ProfileID}}selected{{end}} data-mdb-secondary-text=""></option>
            </select>
            <label class="form-label select-label" for="ProfileID" >ProfileID</label>
            <div class="text-danger small">{{.ProfileID_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Name_props.MsgType}}" id="Name" name="Name" aria-describedby="NameHelp" placeholder=""  value="{{.Name}}" required data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Name" >Name</label>
              <div class="{{.Name_props.MsgFeedBackType}}">{{.Name_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <textarea class="form-control {{.Description_props.MsgType}}" id="Description" name="Description" aria-describedby="DescriptionHelp" placeholder=""   value="{{.Description}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.Description}}</textarea>
            
           
           
              <label class="form-label" for="Description" >Description</label>
              <div class="{{.Description_props.MsgFeedBackType}}">{{.Description_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="date" class="form-control {{.StartDate_props.MsgType}}" id="StartDate" name="StartDate" aria-describedby="StartDateHelp" placeholder=""  value="{{.StartDate}}"  data-mdb-input-mask="yyyy-mm-dd" >
            
           
           
              <label class="form-label" for="StartDate" >StartDate</label>
              <div class="{{.StartDate_props.MsgFeedBackType}}">{{.StartDate_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="date" class="form-control {{.EndDate_props.MsgType}}" id="EndDate" name="EndDate" aria-describedby="EndDateHelp" placeholder=""  value="{{.EndDate}}"  data-mdb-input-mask="yyyy-mm-dd" >
            
           
           
              <label class="form-label" for="EndDate" >EndDate</label>
              <div class="{{.EndDate_props.MsgFeedBackType}}">{{.EndDate_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSCreated_props.MsgType}}" id="SYSCreated" name="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder="" hidden value="{{.SYSCreated}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSCreated" hidden>SYSCreated</label>
              <div class="{{.SYSCreated_props.MsgFeedBackType}}">{{.SYSCreated_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSCreatedBy_props.MsgType}}" id="SYSCreatedBy" name="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" hidden value="{{.SYSCreatedBy}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSCreatedBy" hidden>SYSCreatedBy</label>
              <div class="{{.SYSCreatedBy_props.MsgFeedBackType}}">{{.SYSCreatedBy_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSCreatedHost_props.MsgType}}" id="SYSCreatedHost" name="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" hidden value="{{.SYSCreatedHost}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSCreatedHost" hidden>SYSCreatedHost</label>
              <div class="{{.SYSCreatedHost_props.MsgFeedBackType}}">{{.SYSCreatedHost_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSUpdated_props.MsgType}}" id="SYSUpdated" name="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" hidden value="{{.SYSUpdated}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSUpdated" hidden>SYSUpdated</label>
              <div class="{{.SYSUpdated_props.MsgFeedBackType}}">{{.SYSUpdated_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSUpdatedBy_props.MsgType}}" id="SYSUpdatedBy" name="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" hidden value="{{.SYSUpdatedBy}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSUpdatedBy" hidden>SYSUpdatedBy</label>
              <div class="{{.SYSUpdatedBy_props.MsgFeedBackType}}">{{.SYSUpdatedBy_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSUpdatedHost_props.MsgType}}" id="SYSUpdatedHost" name="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" hidden value="{{.SYSUpdatedHost}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSUpdatedHost" hidden>SYSUpdatedHost</label>
              <div class="{{.SYSUpdatedHost_props.MsgFeedBackType}}">{{.SYSUpdatedHost_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSDeleted_props.MsgType}}" id="SYSDeleted" name="SYSDeleted" aria-describedby="SYSDeletedHelp" placeholder="" hidden value="{{.SYSDeleted}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSDeleted" hidden>SYSDeleted</label>
              <div class="{{.SYSDeleted_props.MsgFeedBackType}}">{{.SYSDeleted_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSDeletedBy_props.MsgType}}" id="SYSDeletedBy" name="SYSDeletedBy" aria-describedby="SYSDeletedByHelp" placeholder="" hidden value="{{.SYSDeletedBy}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSDeletedBy" hidden>SYSDeletedBy</label>
              <div class="{{.SYSDeletedBy_props.MsgFeedBackType}}">{{.SYSDeletedBy_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSDeletedHost_props.MsgType}}" id="SYSDeletedHost" name="SYSDeletedHost" aria-describedby="SYSDeletedHostHelp" placeholder="" hidden value="{{.SYSDeletedHost}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSDeletedHost" hidden>SYSDeletedHost</label>
              <div class="{{.SYSDeletedHost_props.MsgFeedBackType}}">{{.SYSDeletedHost_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSActivity_props.MsgType}}" id="SYSActivity" name="SYSActivity" aria-describedby="SYSActivityHelp" placeholder="" hidden value="{{.SYSActivity}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSActivity" hidden>SYSActivity</label>
              <div class="{{.SYSActivity_props.MsgFeedBackType}}">{{.SYSActivity_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSDbVersion_props.MsgType}}" id="SYSDbVersion" name="SYSDbVersion" aria-describedby="SYSDbVersionHelp" placeholder="" hidden value="{{.SYSDbVersion}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSDbVersion" hidden>SYSDbVersion</label>
              <div class="{{.SYSDbVersion_props.MsgFeedBackType}}">{{.SYSDbVersion_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <textarea class="form-control {{.Comments_props.MsgType}}" id="Comments" name="Comments" aria-describedby="CommentsHelp" placeholder=""   value="{{.Comments}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.Comments}}</textarea>
            
           
           
              <label class="form-label" for="Comments" >Comments</label>
              <div class="{{.Comments_props.MsgFeedBackType}}">{{.Comments_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.ProjectRate_props.MsgType}}" id="ProjectRate" name="ProjectRate" aria-describedby="ProjectRateHelp" placeholder=""  value="{{.ProjectRate}}"  data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label" for="ProjectRate" >ProjectRate</label>
              <div class="{{.ProjectRate_props.MsgFeedBackType}}">{{.ProjectRate_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.DefaultRate_props.MsgType}}" id="DefaultRate" name="DefaultRate" aria-describedby="DefaultRateHelp" placeholder="" readonly="true" value="{{.DefaultRate}}"  data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label" for="DefaultRate" readonly="true">DefaultRate</label>
              <div class="{{.DefaultRate_props.MsgFeedBackType}}">{{.DefaultRate_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="ProjectAnalyst" name="ProjectAnalyst" class="select" data-mdb-filter="true"  >
                {{range .ProjectAnalyst_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProjectAnalyst}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .ProjectAnalyst}}selected{{end}} data-mdb-secondary-text=""></option>
            </select>
            <label class="form-label select-label" for="ProjectAnalyst" >ProjectAnalyst</label>
            <div class="text-danger small">{{.ProjectAnalyst_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="ProjectEngineer" name="ProjectEngineer" class="select" data-mdb-filter="true"  >
                {{range .ProjectEngineer_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProjectEngineer}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .ProjectEngineer}}selected{{end}} data-mdb-secondary-text=""></option>
            </select>
            <label class="form-label select-label" for="ProjectEngineer" >ProjectEngineer</label>
            <div class="text-danger small">{{.ProjectEngineer_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="ProjectManager" name="ProjectManager" class="select" data-mdb-filter="true"  >
                {{range .ProjectManager_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProjectManager}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}<option value="" {{if eq "" .ProjectManager}}selected{{end}} data-mdb-secondary-text=""></option>
            </select>
            <label class="form-label select-label" for="ProjectManager" >ProjectManager</label>
            <div class="text-danger small">{{.ProjectManager_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Releases_props.MsgType}}" id="Releases" name="Releases" aria-describedby="ReleasesHelp" placeholder=""  value="{{.Releases}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Releases" >Releases</label>
              <div class="{{.Releases_props.MsgFeedBackType}}">{{.Releases_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <textarea class="form-control {{.Notes_props.MsgType}}" id="Notes" name="Notes" aria-describedby="NotesHelp" placeholder="" readonly="true"  value="{{.Notes}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.Notes}}</textarea>
            
           
           
              <label class="form-label" for="Notes" readonly="true">Notes</label>
              <div class="{{.Notes_props.MsgFeedBackType}}">{{.Notes_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.NoEstimationSessions_props.MsgType}}" id="NoEstimationSessions" name="NoEstimationSessions" aria-describedby="NoEstimationSessionsHelp" placeholder="0" readonly="true" value="{{.NoEstimationSessions}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="NoEstimationSessions" readonly="true">NoEstimationSessions</label>
              <div class="{{.NoEstimationSessions_props.MsgFeedBackType}}">{{.NoEstimationSessions_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.OriginName_props.MsgType}}" id="OriginName" name="OriginName" aria-describedby="OriginNameHelp" placeholder="" readonly="true" value="{{.OriginName}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="OriginName" readonly="true">OriginName</label>
              <div class="{{.OriginName_props.MsgFeedBackType}}">{{.OriginName_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.OriginKey_props.MsgType}}" id="OriginKey" name="OriginKey" aria-describedby="OriginKeyHelp" placeholder="" readonly="true" value="{{.OriginKey}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="OriginKey" readonly="true">OriginKey</label>
              <div class="{{.OriginKey_props.MsgFeedBackType}}">{{.OriginKey_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            
              
                

            
              
                

            
              
                

     
        </div>
      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}