{{template "header" .}} {{template "bodydefinition" .}}
<form action="/FeatureEdit/?FeatureID={{.FeatureID}}" method="POST" class="form">
    <div class="card">
        <div class="card-header" style="padding-bottom:0;">
            <div class="row d-flex align-items-center">
                <div class="col d-flex align-items-center"><h3><i class="fas fa-tasks me-2"></i>{{.Title}}</h3></div>
                <div class="col d-flex justify-content-end">
                    <div class="btn-group" style="margin-bottom:1rem;">
                        <button type="submit" class="btn btn-warning" method="get" formaction="/FeatureEdit/?FeatureID={{.FeatureID}}"  title="Edit Feature {{.FeatureID}}"><i class="fas fa-pen me-2"></i>Edit</button>
                        <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Feature {{.FeatureID}}"><i class="fas fa-print me-2"></i>Print</button>
                        <button type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSId" aria-describedby="SYSIdHelp" placeholder="0" disabled value="{{.SYSId}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSId">SYSId</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="FeatureID" aria-describedby="FeatureIDHelp" placeholder="" disabled value="{{.FeatureID}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="FeatureID"><i class="fas fa-key me-2"></i>FeatureID</label>
                        
                    </div>
                
                </div>
            </div>
             <h4>Identification</h4>
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="EstimationSessionID" name="EstimationSessionID" class="select" data-mdb-filter="true" disabled>
                  {{range .EstimationSessionID_lookup}}<option value="{{.ID}}" {{if eq .ID $.EstimationSessionID}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="EstimationSessionID" disabled>Estimate</label>
                
                </div>
       
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Name" aria-describedby="NameHelp" placeholder="" disabled value="{{.Name}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="Name">Feature Name</label>
                        
                    </div>
                
                </div>

            
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="DefaultProfile" aria-describedby="DefaultProfileHelp" placeholder="" disabled value="{{.DefaultProfile}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="DefaultProfile">Default Profile</label>
                        
                    </div>
                
                </div>
            
             
            
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="ActualProfile" aria-describedby="ActualProfileHelp" placeholder="" disabled value="{{.ActualProfile}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="ActualProfile">Actual Profile</label>
                        
                    </div>
                
                </div>
            


            </div>

            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <textarea class="form-control" id="Description" name="Description" aria-describedby="DescriptionHelp" placeholder=""  disabled value="{{.Description}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.Description}}</textarea>
                        
                        <label class="form-label" for="Description">Description</label>
                        
                    </div>
                
                </div>
            </div>

            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="ProjectManager" name="ProjectManager" class="select" data-mdb-filter="true" disabled>
                  {{range .ProjectManager_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProjectManager}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="ProjectManager" disabled>Project Manager</label>
                
                </div>

                <div class="col">
                
                  <select id="ProductManager" name="ProductManager" class="select" data-mdb-filter="true" disabled>
                  {{range .ProductManager_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProductManager}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="ProductManager" disabled>Product Manager</label>
                
                </div>
       

            </div>

  <h4>Links</h4>
                       <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="AdoID" aria-describedby="AdoIDHelp" placeholder="" disabled value="{{.AdoID}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="AdoID">Azure DevOps ID</label>
                        
                    </div>
                
                </div>

                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="FreshdeskID" aria-describedby="FreshdeskIDHelp" placeholder="" disabled value="{{.FreshdeskID}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="FreshdeskID">FreshDesk ID</label>
                        
                    </div>
                
                </div>
     
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="TrackerID" aria-describedby="TrackerIDHelp" placeholder="" disabled value="{{.TrackerID}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="TrackerID">RSC/NC No.</label>
                        
                    </div>
                
                </div>
   
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="ExtRef" aria-describedby="ExtRefHelp" placeholder="" disabled value="{{.ExtRef}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="ExtRef">Other Ref</label>
                        
                    </div>
                
                </div>
  
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="ExtRef2" aria-describedby="ExtRef2Help" placeholder="" disabled value="{{.ExtRef2}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="ExtRef2">Other Ref 2</label>
                        
                    </div>
                
                </div>
            </div>





 
          

<h4>Estimates</h4>
<h5>Engineer Estimate</h5>
<div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="DevEstimate" aria-describedby="DevEstimateHelp" placeholder="" disabled value="{{.DevEstimate}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="DevEstimate">Engineer Estimate</label>
                        
                    </div>
                
                </div>

                <div class="col">
                
                  <select id="ConfidenceID" name="ConfidenceID" class="select" data-mdb-filter="true" disabled>
                  {{range .ConfidenceID_lookup}}<option value="{{.ID}}" {{if eq .ID $.ConfidenceID}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="ConfidenceID" disabled>Confidence in Engineer Estimate</label>
                
                </div>
        
                <div class="col">
                
                  <select id="Developer" name="Developer" class="select" data-mdb-filter="true" disabled>
                  {{range .Developer_lookup}}<option value="{{.ID}}" {{if eq .ID $.Developer}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="Developer" disabled>Engineer</label>
                
                </div>


                       
                <div class="col">
                
                  <select id="Analyst" name="Analyst" class="select" data-mdb-filter="true" disabled>
                  {{range .Analyst_lookup}}<option value="{{.ID}}" {{if eq .ID $.Analyst}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="Analyst" disabled>Analyst</label>
                
                </div>
            




            </div>  

<h5>Default Estimate</h5>

        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.DevUplift_props.MsgType}}" id="DefaultDevUplift" name="DefaultDevUplift" aria-describedby="DefaultDevUpliftHelp" placeholder=""  readonly value="{{.DfdevUplift}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="DefaultDevUplift" >Development + Uplift</label>
              <div class="{{.DevUplift_props.MsgFeedBackType}}">{{.DevUplift_props.MsgMessage}}</div>
            </div>
        
        </div>
        
        <div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.Reqs_props.MsgType}}" id="DefaultReqs" name="DefaultReqs" aria-describedby="DefaultReqsHelp" placeholder="" readonly  value="{{.DfReqs}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="DefaultReqs" >Requirements</label>
              <div class="{{.Reqs_props.MsgFeedBackType}}">{{.Reqs_props.MsgMessage}}</div>
            </div>
        
        </div>
        
        <div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.AnalystTest_props.MsgType}}" id="DefaultAnalystTest" name="DefaultAnalystTest" aria-describedby="DefaultAnalystTestHelp" placeholder=""  readonly value="{{.DfAnalystTest}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="DefaultAnalystTest" >Analyst & Test</label>
              <div class="{{.AnalystTest_props.MsgFeedBackType}}">{{.AnalystTest_props.MsgMessage}}</div>
            </div>
        
        </div>
        
        <div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.Docs_props.MsgType}}" id="DefaultDocs" name="DefaultDocs" aria-describedby="DefaultDocsHelp" placeholder="" readonly  value="{{.DfDocs}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="DefaultDocs" >Documentation</label>
              <div class="{{.Docs_props.MsgFeedBackType}}">{{.Docs_props.MsgMessage}}</div>
            </div>
        
        </div>
        

        
        <div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.UatSupport_props.MsgType}}" id="DefaultUatSupport" name="DefaultUatSupport" aria-describedby="DefaultUatSupportHelp" placeholder="" readonly  value="{{.DfuatSupport}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="DefaultUatSupport" >UAT Support</label>
              <div class="{{.UatSupport_props.MsgFeedBackType}}">{{.UatSupport_props.MsgMessage}}</div>
            </div>
        
        </div>
        
          
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="DfTraining" aria-describedby="DfTrainingHelp" placeholder="" disabled value="{{.DfTraining}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="DfTraining">Training</label>
                        
                    </div>
                
                </div>
          
        <div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.Marketing_props.MsgType}}" id="DefaultMarketing" name="DefaultMarketing" aria-describedby="DefaultMarketingHelp" placeholder="" readonly  value="{{.Dfmarketing}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="DefaultMarketing" >Marketing</label>
              <div class="{{.Marketing_props.MsgFeedBackType}}">{{.Marketing_props.MsgMessage}}</div>
            </div>
        
        </div>

                <div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.Mgt_props.MsgType}}" id="DefaultMgt" name="DefaultMgt" aria-describedby="DefaultMgtHelp" placeholder="" readonly  value="{{.Dfmgt}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="DefaultMgt" >Management</label>
              <div class="{{.Mgt_props.MsgFeedBackType}}">{{.Mgt_props.MsgMessage}}</div>
            </div>
        
        </div>
        
</div>
  <h5>Refined Estimate</h5> 

            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="DevUplift" aria-describedby="DevUpliftHelp" placeholder="" disabled value="{{.DevUplift}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="DevUplift">Development + Uplift</label>
                        
                    </div>
                
                </div>
      
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Reqs" aria-describedby="ReqsHelp" placeholder="" disabled value="{{.Reqs}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="Reqs">Requirements</label>
                        
                    </div>
                
                </div>
        
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="AnalystTest" aria-describedby="AnalystTestHelp" placeholder="" disabled value="{{.AnalystTest}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="AnalystTest">Analyst & Test</label>
                        
                    </div>
                
                </div>
  
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Docs" aria-describedby="DocsHelp" placeholder="" disabled value="{{.Docs}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="Docs">Documentation</label>
                        
                    </div>
                
                </div>
     
                
  
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="UatSupport" aria-describedby="UatSupportHelp" placeholder="" disabled value="{{.UatSupport}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="UatSupport">UAT Support</label>
                        
                    </div>
                
                </div>
                       
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Training" aria-describedby="TrainingHelp" placeholder="" disabled value="{{.Training}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="Training">Training</label>
                        
                    </div>
                
                </div>
           
             
 
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Marketing" aria-describedby="MarketingHelp" placeholder="" disabled value="{{.Marketing}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="Marketing">Marketing</label>
                        
                    </div>
                
                </div>
   <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Mgt" aria-describedby="MgtHelp" placeholder="" disabled value="{{.Mgt}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="Mgt">Management</label>
                        
                    </div>
                
                </div>

            </div>
             
            
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder="" disabled value="{{.SYSCreated}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSCreated">SYSCreated</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" disabled value="{{.SYSCreatedBy}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSCreatedBy">SYSCreatedBy</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" disabled value="{{.SYSCreatedHost}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSCreatedHost">SYSCreatedHost</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" disabled value="{{.SYSUpdated}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSUpdated">SYSUpdated</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" disabled value="{{.SYSUpdatedBy}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSUpdatedBy">SYSUpdatedBy</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" disabled value="{{.SYSUpdatedHost}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSUpdatedHost">SYSUpdatedHost</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDeleted" aria-describedby="SYSDeletedHelp" placeholder="" disabled value="{{.SYSDeleted}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSDeleted">SYSDeleted</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDeletedBy" aria-describedby="SYSDeletedByHelp" placeholder="" disabled value="{{.SYSDeletedBy}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSDeletedBy">SYSDeletedBy</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDeletedHost" aria-describedby="SYSDeletedHostHelp" placeholder="" disabled value="{{.SYSDeletedHost}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSDeletedHost">SYSDeletedHost</label>
                        
                    </div>
                
                </div>
            </div>
             

             
<h4>Comments</h4>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <textarea class="form-control {{.Comments_props.MsgType}}" id="Comments" name="Comments" aria-describedby="CommentsHelp" placeholder=""  readonly value="{{.Comments}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.Comments}}</textarea>
              
              <label class="form-label" for="Comments" >Comments</label>
              <div class="{{.Comments_props.MsgFeedBackType}}">{{.Comments_props.MsgMessage}}</div>
            </div>
        
        </div></div>
             
         
            <h4>Approvals</h4>
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="Approver" name="Approver" class="select" data-mdb-filter="true" disabled>
                  {{range .Approver_lookup}}<option value="{{.ID}}" {{if eq .ID $.Approver}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="Approver" disabled>Approver</label>
                
                </div>
       
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="OffProfile" aria-describedby="OffProfileHelp" placeholder="" disabled value="{{.OffProfile}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="OffProfile">Off Profile?</label>
                        
                    </div>
                
                </div>
         
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="OffProfileJustification" aria-describedby="OffProfileJustificationHelp" placeholder="" disabled value="{{.OffProfileJustification}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="OffProfileJustification">Justification</label>
                        
                    </div>
                
                </div>
            </div>
           <h4>Notes</h4>  
   <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <textarea class="form-control" id="Notes" name="Notes" aria-describedby="NotesHelp" placeholder=""  disabled value="{{.Notes}}"  data-mdb-input-mask="" rows="10" maxlength="255">{{.Notes}}</textarea>
                        
                        <label class="form-label" for="Notes">Notes</label>
                        
                    </div>
                
                </div>
            </div>


            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSActivity" aria-describedby="SYSActivityHelp" placeholder="" disabled value="{{.SYSActivity}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSActivity">SYSActivity</label>
                        
                    </div>
                
                </div>
            </div>


             

             

             

            
        </div>
        {{template "audit" .}}
    </div>
</form>

{{template "userfooter" .}} {{template "pagefooter" .}}