@import url(//fonts.googleapis.com/css?family=Lato:300:400);
body {
    margin: 0;
}

.hdrimage {
    color: #322a77;
}

.text-application {
    color: #322a77;
}

.btn-primary {
    color: #fff;
    background-color: #322a77;
}

.btn-link {
    color: #322a77;
    background-color: #fff5;
    border: 0;
}   

h1 {
   /* font-family: "Lato", sans-serif;*/
   /* font-weight: 200; */
    letter-spacing: 2px;
    font-size: 48px;
}

p {
   /* font-family: "Lato", sans-serif;*/
    letter-spacing: 1px;
    font-size: 14px;
   /* color: #322a77;*/
}

.card {
    margin-top: 100rem;
    color: #121212;
    background-color: rgba(255, 255, 255, .90);
    min-width: 40rem;
}

.header {
    position: fixed-bottom;
    text-align: center;
    background: linear-gradient( 60deg, rgba(50, 42, 119, 1) 25%, rgba(140, 43, 220, 1) 100%);
    color: white;
}

.input-group-text {
    color: rgba(84, 58, 183, 1);
    background-color: rgba(255, 255, 255, 1);
    border: 0;
}

.form-control {
    border: 0;
}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}


/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/*Shrinking for mobile*/

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}

shadow-custom {
    background-color: green;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;
}