{{template "header" .}}
{{template "bodydefinition" .}}

<form action="/OriginSave/?OriginID={{.OriginID}}"
  method="GET" class="form">
  <div class="card">
    <div class="card-header align-items-center">
      <div class="row align-items-center">
        <div class="col h3">
          <i class="fas fa-building me-2"
            title="OriginID={{.OriginID}}"></i><span class="me-3">{{.Title}}</span>
        </div>
        <div class="col d-flex justify-content-end">
          <div class="btn-group">
            
            <button type="submit" value="" class="btn btn-danger" method="GET" formaction="/OriginSave/?OriginID={{.OriginID}}" onclick="/OriginSave/?OriginID={{.OriginID}}" title="Save Origin"><i class="fas fa-save me-2"></i>Save</button>
            
            <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Origin"><i class="fas fa-print me-2"></i>Print</button>
            <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
     
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSId_props.MsgType}}" id="SYSId" name="SYSId" aria-describedby="SYSIdHelp" placeholder="0" hidden  value="{{.SYSId}}" required data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSId" hidden>SYSId</label>
              <div class="{{.SYSId_props.MsgFeedBackType}}">{{.SYSId_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.OriginID_props.MsgType}}" id="OriginID" name="OriginID" aria-describedby="OriginIDHelp" placeholder=""  readonly="true"  value="{{.OriginID}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="OriginID" ><i class="fas fa-key me-2"></i>OriginID</label>
              <div class="{{.OriginID_props.MsgFeedBackType}}">{{.OriginID_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            
            <select id="StateID" name="StateID" class="select" data-mdb-filter="true"  >
                {{range .StateID_lookup}}<option value="{{.ID}}" {{if eq .ID $.StateID}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="StateID" >StateID</label>
            <div class="{{.StateID_props.MsgFeedBackType}}">{{.StateID_props.MsgMessage}}</div>
            
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            
            <select id="DocTypeID" name="DocTypeID" class="select" data-mdb-filter="true"  >
                {{range .DocTypeID_lookup}}<option value="{{.ID}}" {{if eq .ID $.DocTypeID}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="DocTypeID" >DocTypeID</label>
            <div class="{{.DocTypeID_props.MsgFeedBackType}}">{{.DocTypeID_props.MsgMessage}}</div>
            
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.Code_props.MsgType}}" id="Code" name="Code" aria-describedby="CodeHelp" placeholder=""  readonly="true"  value="{{.Code}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="Code" >Code</label>
              <div class="{{.Code_props.MsgFeedBackType}}">{{.Code_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.FullName_props.MsgType}}" id="FullName" name="FullName" aria-describedby="FullNameHelp" placeholder=""   value="{{.FullName}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="FullName" >FullName</label>
              <div class="{{.FullName_props.MsgFeedBackType}}">{{.FullName_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.Rate_props.MsgType}}" id="Rate" name="Rate" aria-describedby="RateHelp" placeholder=""   value="{{.Rate}}" required data-mdb-input-mask="" />
              
              <label class="form-label" for="Rate" >Rate</label>
              <div class="{{.Rate_props.MsgFeedBackType}}">{{.Rate_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <textarea class="form-control {{.Notes_props.MsgType}}" id="Notes" name="Notes" aria-describedby="NotesHelp" placeholder=""   value="{{.Notes}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.Notes}}</textarea>
              
              <label class="form-label" for="Notes" >Notes</label>
              <div class="{{.Notes_props.MsgFeedBackType}}">{{.Notes_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="date" class="form-control {{.StartDate_props.MsgType}}" id="StartDate" name="StartDate" aria-describedby="StartDateHelp" placeholder=""   value="{{.StartDate}}"  data-mdb-input-mask="yyyy-mm-dd" />
              
              <label class="form-label" for="StartDate" >StartDate</label>
              <div class="{{.StartDate_props.MsgFeedBackType}}">{{.StartDate_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="date" class="form-control {{.EndDate_props.MsgType}}" id="EndDate" name="EndDate" aria-describedby="EndDateHelp" placeholder=""   value="{{.EndDate}}"  data-mdb-input-mask="yyyy-mm-dd" />
              
              <label class="form-label" for="EndDate" >EndDate</label>
              <div class="{{.EndDate_props.MsgFeedBackType}}">{{.EndDate_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSCreated_props.MsgType}}" id="SYSCreated" name="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder="" hidden  value="{{.SYSCreated}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSCreated" hidden>SYSCreated</label>
              <div class="{{.SYSCreated_props.MsgFeedBackType}}">{{.SYSCreated_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSCreatedBy_props.MsgType}}" id="SYSCreatedBy" name="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" hidden  value="{{.SYSCreatedBy}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSCreatedBy" hidden>SYSCreatedBy</label>
              <div class="{{.SYSCreatedBy_props.MsgFeedBackType}}">{{.SYSCreatedBy_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSCreatedHost_props.MsgType}}" id="SYSCreatedHost" name="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" hidden  value="{{.SYSCreatedHost}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSCreatedHost" hidden>SYSCreatedHost</label>
              <div class="{{.SYSCreatedHost_props.MsgFeedBackType}}">{{.SYSCreatedHost_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSUpdated_props.MsgType}}" id="SYSUpdated" name="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" hidden  value="{{.SYSUpdated}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSUpdated" hidden>SYSUpdated</label>
              <div class="{{.SYSUpdated_props.MsgFeedBackType}}">{{.SYSUpdated_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSUpdatedBy_props.MsgType}}" id="SYSUpdatedBy" name="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" hidden  value="{{.SYSUpdatedBy}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSUpdatedBy" hidden>SYSUpdatedBy</label>
              <div class="{{.SYSUpdatedBy_props.MsgFeedBackType}}">{{.SYSUpdatedBy_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSUpdatedHost_props.MsgType}}" id="SYSUpdatedHost" name="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" hidden  value="{{.SYSUpdatedHost}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSUpdatedHost" hidden>SYSUpdatedHost</label>
              <div class="{{.SYSUpdatedHost_props.MsgFeedBackType}}">{{.SYSUpdatedHost_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSDeleted_props.MsgType}}" id="SYSDeleted" name="SYSDeleted" aria-describedby="SYSDeletedHelp" placeholder="" hidden  value="{{.SYSDeleted}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSDeleted" hidden>SYSDeleted</label>
              <div class="{{.SYSDeleted_props.MsgFeedBackType}}">{{.SYSDeleted_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSDeletedBy_props.MsgType}}" id="SYSDeletedBy" name="SYSDeletedBy" aria-describedby="SYSDeletedByHelp" placeholder="" hidden  value="{{.SYSDeletedBy}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSDeletedBy" hidden>SYSDeletedBy</label>
              <div class="{{.SYSDeletedBy_props.MsgFeedBackType}}">{{.SYSDeletedBy_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSDeletedHost_props.MsgType}}" id="SYSDeletedHost" name="SYSDeletedHost" aria-describedby="SYSDeletedHostHelp" placeholder="" hidden  value="{{.SYSDeletedHost}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSDeletedHost" hidden>SYSDeletedHost</label>
              <div class="{{.SYSDeletedHost_props.MsgFeedBackType}}">{{.SYSDeletedHost_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSActivity_props.MsgType}}" id="SYSActivity" name="SYSActivity" aria-describedby="SYSActivityHelp" placeholder="" hidden  value="{{.SYSActivity}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSActivity" hidden>SYSActivity</label>
              <div class="{{.SYSActivity_props.MsgFeedBackType}}">{{.SYSActivity_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            
            <select id="Currency" name="Currency" class="select" data-mdb-filter="true"  required>
                {{range .Currency_lookup}}<option value="{{.ID}}" {{if eq .ID $.Currency}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="Currency" >Currency</label>
            <div class="{{.Currency_props.MsgFeedBackType}}">{{.Currency_props.MsgMessage}}</div>
            
        
        </div></div>
       
        <div class="row mb-3" hidden hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.SYSDbVersion_props.MsgType}}" id="SYSDbVersion" name="SYSDbVersion" aria-describedby="SYSDbVersionHelp" placeholder="" hidden  value="{{.SYSDbVersion}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="SYSDbVersion" hidden>SYSDbVersion</label>
              <div class="{{.SYSDbVersion_props.MsgFeedBackType}}">{{.SYSDbVersion_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.Comments_props.MsgType}}" id="Comments" name="Comments" aria-describedby="CommentsHelp" placeholder=""   value="{{.Comments}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="Comments" >Comments</label>
              <div class="{{.Comments_props.MsgFeedBackType}}">{{.Comments_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3" readonly="true" ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.NoActiveProjects_props.MsgType}}" id="NoActiveProjects" name="NoActiveProjects" aria-describedby="NoActiveProjectsHelp" placeholder="" readonly="true"  value="{{.NoActiveProjects}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="NoActiveProjects" readonly="true">NoActiveProjects</label>
              <div class="{{.NoActiveProjects_props.MsgFeedBackType}}">{{.NoActiveProjects_props.MsgMessage}}</div>
            </div>
        
        </div></div>
      
      

      

      
    </div>
    {{template "audit" .}}
  </div>
</form>

{{template "userfooter" .}}
{{template "pagefooter" .}}