{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/CredentialsSave" method="GET" class="form">
      <div class="card">
          <div class="card-header align-items-center" style="padding-bottom:0;">
            <div class="row d-flex align-items-center">

                <div class="col h4 align-items-center">
                  <i class="fas fa-key me-2 text-primary"
                    title="Id=NEW"></i><span class="me-3">{{.Title}}</span>
                </div>

                <div class="col d-flex justify-content-end">
                  <div class="btn-group float-right" style="margin-bottom:1rem;">
                  
                    <button type="submit" value="" class="btn btn-danger" method="GET" formaction="/CredentialsSave" onclick="/CredentialsSave" title="Save Credentials"><i class="fas fa-save me-2"></i>Save</button>
                  
                    <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Credentials"><i class="fas fa-print me-2"></i>Print</button>
                    <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
                  </div>
                </div>
          </div>
        </div>
        <div class="card-body">
      
            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSId_props.MsgType}}" id="SYSId" name="SYSId" aria-describedby="SYSIdHelp" placeholder="0" hidden value="new" required data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSId" hidden>SYSId</label>
              <div class="{{.SYSId_props.MsgFeedBackType}}">{{.SYSId_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Id_props.MsgType}}" id="Id" name="Id" aria-describedby="IdHelp" placeholder="" readonly="true" value="{{.Id}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Id" readonly="true"><i class="fas fa-key me-2"></i>Id</label>
              <div class="{{.Id_props.MsgFeedBackType}}">{{.Id_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Username_props.MsgType}}" id="Username" name="Username" aria-describedby="UsernameHelp" placeholder=""  value="{{.Username}}" required data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Username" >Username</label>
              <div class="{{.Username_props.MsgFeedBackType}}">{{.Username_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="password" class="form-control {{.Password_props.MsgType}}" id="Password" name="Password" aria-describedby="PasswordHelp" placeholder="" readonly="true" value="{{.Password}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Password" readonly="true">Password</label>
              <div class="{{.Password_props.MsgFeedBackType}}">{{.Password_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Firstname_props.MsgType}}" id="Firstname" name="Firstname" aria-describedby="FirstnameHelp" placeholder=""  value="{{.Firstname}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Firstname" >Firstname</label>
              <div class="{{.Firstname_props.MsgFeedBackType}}">{{.Firstname_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Lastname_props.MsgType}}" id="Lastname" name="Lastname" aria-describedby="LastnameHelp" placeholder=""  value="{{.Lastname}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Lastname" >Lastname</label>
              <div class="{{.Lastname_props.MsgFeedBackType}}">{{.Lastname_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Knownas_props.MsgType}}" id="Knownas" name="Knownas" aria-describedby="KnownasHelp" placeholder="" readonly="true" value="{{.Knownas}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Knownas" readonly="true">Knownas</label>
              <div class="{{.Knownas_props.MsgFeedBackType}}">{{.Knownas_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="email" class="form-control {{.Email_props.MsgType}}" id="Email" name="Email" aria-describedby="EmailHelp" placeholder=""  value="{{.Email}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Email" >Email</label>
              <div class="{{.Email_props.MsgFeedBackType}}">{{.Email_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="datetime" class="form-control {{.Issued_props.MsgType}}" id="Issued" name="Issued" aria-describedby="IssuedHelp" placeholder="" readonly="true" value="{{.Issued}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Issued" readonly="true">Issued</label>
              <div class="{{.Issued_props.MsgFeedBackType}}">{{.Issued_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="datetime" class="form-control {{.Expiry_props.MsgType}}" id="Expiry" name="Expiry" aria-describedby="ExpiryHelp" placeholder="" readonly="true" value="{{.Expiry}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Expiry" readonly="true">Expiry</label>
              <div class="{{.Expiry_props.MsgFeedBackType}}">{{.Expiry_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="RoleType" name="RoleType" class="select" data-mdb-filter="true"  >
                {{range .RoleType_lookup}}<option value="{{.ID}}" {{if eq .ID $.RoleType}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="RoleType" >RoleType</label>
            <div class="{{.RoleType_props.MsgFeedBackType}}">{{.RoleType_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Brand_props.MsgType}}" id="Brand" name="Brand" aria-describedby="BrandHelp" placeholder=""  value="{{.Brand}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Brand" >Brand</label>
              <div class="{{.Brand_props.MsgFeedBackType}}">{{.Brand_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSCreated_props.MsgType}}" id="SYSCreated" name="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder="" hidden value="{{.SYSCreated}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSCreated" hidden>SYSCreated</label>
              <div class="{{.SYSCreated_props.MsgFeedBackType}}">{{.SYSCreated_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSUpdated_props.MsgType}}" id="SYSUpdated" name="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" hidden value="{{.SYSUpdated}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSUpdated" hidden>SYSUpdated</label>
              <div class="{{.SYSUpdated_props.MsgFeedBackType}}">{{.SYSUpdated_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSCreatedBy_props.MsgType}}" id="SYSCreatedBy" name="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" hidden value="{{.SYSCreatedBy}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSCreatedBy" hidden>SYSCreatedBy</label>
              <div class="{{.SYSCreatedBy_props.MsgFeedBackType}}">{{.SYSCreatedBy_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSCreatedHost_props.MsgType}}" id="SYSCreatedHost" name="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" hidden value="{{.SYSCreatedHost}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSCreatedHost" hidden>SYSCreatedHost</label>
              <div class="{{.SYSCreatedHost_props.MsgFeedBackType}}">{{.SYSCreatedHost_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSUpdatedBy_props.MsgType}}" id="SYSUpdatedBy" name="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" hidden value="{{.SYSUpdatedBy}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSUpdatedBy" hidden>SYSUpdatedBy</label>
              <div class="{{.SYSUpdatedBy_props.MsgFeedBackType}}">{{.SYSUpdatedBy_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSUpdatedHost_props.MsgType}}" id="SYSUpdatedHost" name="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" hidden value="{{.SYSUpdatedHost}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSUpdatedHost" hidden>SYSUpdatedHost</label>
              <div class="{{.SYSUpdatedHost_props.MsgFeedBackType}}">{{.SYSUpdatedHost_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="State" name="State" class="select" data-mdb-filter="true"  >
                {{range .State_lookup}}<option value="{{.ID}}" {{if eq .ID $.State}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="State" >State</label>
            <div class="{{.State_props.MsgFeedBackType}}">{{.State_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <textarea class="form-control {{.Notes_props.MsgType}}" id="Notes" name="Notes" aria-describedby="NotesHelp" placeholder=""   value="{{.Notes}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.Notes}}</textarea>
            
           
           
              <label class="form-label" for="Notes" >Notes</label>
              <div class="{{.Notes_props.MsgFeedBackType}}">{{.Notes_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSDeleted_props.MsgType}}" id="SYSDeleted" name="SYSDeleted" aria-describedby="SYSDeletedHelp" placeholder="" hidden value="{{.SYSDeleted}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSDeleted" hidden>SYSDeleted</label>
              <div class="{{.SYSDeleted_props.MsgFeedBackType}}">{{.SYSDeleted_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSDeletedBy_props.MsgType}}" id="SYSDeletedBy" name="SYSDeletedBy" aria-describedby="SYSDeletedByHelp" placeholder="" hidden value="{{.SYSDeletedBy}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSDeletedBy" hidden>SYSDeletedBy</label>
              <div class="{{.SYSDeletedBy_props.MsgFeedBackType}}">{{.SYSDeletedBy_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSDeletedHost_props.MsgType}}" id="SYSDeletedHost" name="SYSDeletedHost" aria-describedby="SYSDeletedHostHelp" placeholder="" hidden value="{{.SYSDeletedHost}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSDeletedHost" hidden>SYSDeletedHost</label>
              <div class="{{.SYSDeletedHost_props.MsgFeedBackType}}">{{.SYSDeletedHost_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSActivity_props.MsgType}}" id="SYSActivity" name="SYSActivity" aria-describedby="SYSActivityHelp" placeholder="" hidden value="{{.SYSActivity}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSActivity" hidden>SYSActivity</label>
              <div class="{{.SYSActivity_props.MsgFeedBackType}}">{{.SYSActivity_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" hidden hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.SYSDbVersion_props.MsgType}}" id="SYSDbVersion" name="SYSDbVersion" aria-describedby="SYSDbVersionHelp" placeholder="" hidden value="{{.SYSDbVersion}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="SYSDbVersion" hidden>SYSDbVersion</label>
              <div class="{{.SYSDbVersion_props.MsgFeedBackType}}">{{.SYSDbVersion_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="EmailNotifications" name="EmailNotifications" class="select" data-mdb-filter="true"  >
                {{range .EmailNotifications_lookup}}<option value="{{.ID}}" {{if eq .ID $.EmailNotifications}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="EmailNotifications" >EmailNotifications</label>
            <div class="{{.EmailNotifications_props.MsgFeedBackType}}">{{.EmailNotifications_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <div class="form-outline">

            
                <input type="datetime" class="form-control {{.PasswordExpiry_props.MsgType}}" id="PasswordExpiry" name="PasswordExpiry" aria-describedby="PasswordExpiryHelp" placeholder="" readonly="true" value="{{.PasswordExpiry}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="PasswordExpiry" readonly="true">PasswordExpiry</label>
              <div class="{{.PasswordExpiry_props.MsgFeedBackType}}">{{.PasswordExpiry_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

     
        </div>
      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}