{{template "header" .}}
<link rel="stylesheet" type="text/css" href="/assets/DataTables/datatables.min.css"/>
{{template "bodydefinition" .}}

  <div class="container-fluid" style="margin-top: 4.5rem;">

    <div class="d-flex row note note-light bg-white shadow-4 mb-3 align-items-center">

      <div class="d-flex col h-100  align-items-right">
        <nav aria-label="breadcrumb" class="align-items-center"> 
          <ol class="breadcrumb  h-100 align-items-center">
            <li class="breadcrumb-item active text-center lead">Home - Origins</li>
          </ol>
        </nav>
      </div>

      <div class="col h-100 ">
        <div class="float-end">
            <a href="/OriginNew" class="btn btn-primary" role="button" aria-pressed="true"><i class="fas fa-plus me-2"></i>Origin</a>
        </div>
      </div>
    </div>

    <div class="card " style="padding:1rem;">
      <table id="DataTable" class="table table-striped table-hover table-borderless table-sm align-middle mb-0 table-responsive" style="width:100%;">
        <thead class="table-primary text-center">
          <tr class="">
            <td class="text-center fw-bolder">ORIGIN</th>
            <th class="fw-bolder">NAME</th>
            <td class="text-center fw-bolder">STATUS</th>
            
            
            <td class="text-end fw-bolder">CURRENT RATE</th>
            <td class="text-center fw-bolder">CONTRACT ENDS</th>
            <td class="text-center fw-bolder">PM</th>
            <th class="text-center fw-bolder">AM</th>
            <th class="text-center fw-bolder">ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          {{range .OriginList}}
          <tr class="">
            <td class="text-primary text-center"><a href="/ProjectsByOrigin/?OriginID={{.OriginID}}" class="text-primary" style="font-weight:bolder;" role="button" aria-pressed="true">{{.Code}}</a></td>
            <td>{{.FullName}}</td>
            <td class="text-center">{{.StateID}}</td>
            
           
            <td class="text-end">{{.Currency}}&nbsp;{{.Rate}}</td>
            <td class="text-center">{{.EndDate}}</td>
            <td class="text-center">{{.ProjectManager}}</td>
            <td class="text-center">{{.AccountManager}}</td>
            <td class="align-middle text-center" style="width:1px;">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="/ProjectsByOrigin/?OriginID={{.OriginID}}" class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i class="fas fa-project-diagram fa-fw me-2"></i>Projects&nbsp<small>({{.NoActiveProjects}})</small></a>
                <a href="/OriginView/?OriginID={{.OriginID}}" class="btn btn-info btn-sm" role="button" aria-pressed="true"><i class="far fa-eye fa-fw me-2"></i>Details</a> 
              <a href="/OriginRemove/?OriginID={{.OriginID}}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" disabled><i class="far fa-trash-alt fa-fw me-2"></i>Remove</a>
            </div>
            </td>
          </tr>
          {{end}}
        </tbody>
        <caption>
          &nbsp;
          <button
            type="button"
            class="btn btn-sm btn-light btn-floating me-1"
            data-mdb-toggle="popover"
            data-mdb-trigger="focus"
            title="About this Table"
            data-mdb-content="&#8224;This table can be sorted by clicking on the column headings. &#8224;You can also filter the table by entering a search term in the search box.&#8224;You can export the data from this table.">
            <i class="fas fa-info"></i>
          </button>
          The table above shows all the Customers/Origins that are currently in the system.
        </caption>
      </table>
    </div>
  </div>

  {{template "userfooter" .}}
  {{template "exportcontrols" .}}
{{template "tablecontrols" .}}
{{template "pagefooter" .}}

