{{template "header" .}}
{{template "bodydefinition" .}}


  <div class="container-fluid">

    <div id="config">
      <div class="card">
        <div class="card-header font-weight-bold">
          <div class="row">
            <div class="col h3">
              {{.Title}}
            </div>
      <div class="col d-flex justify-content-end">
                  <form action="/home" method="POST">
                    <div class="btn-group">
                    <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Country"><i class="fas fa-print"></i></i>&nbsp;&nbsp;Print</button>
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times"></i>&nbsp;&nbsp;Cancel</button>
                    </div>
                  </form>
                </div>

            </div>
        </div>

      <div class="card-body">


       
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="application" role="tabpanel" aria-labelledby="application-tab">
            <h5>Application -&nbsp{{.AppServerReleaseID}}&nbsp;[r{{.AppServerReleaseLevel}}-{{.AppServerReleaseNumber}}]</h5>
            <div class="row">
              <div class="col">
                <label for="responseType">App Server Release ID :</label>
                <input type="text" id="responseType" name="responseType" value="{{.AppServerReleaseID}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="responseType">App Server Release Level :</label>
                <input type="text" id="responseType" name="responseType" value="{{.AppServerReleaseLevel}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="responseType">App Server Release Number :</label>
                <input type="text" id="responseType" name="responseType" value="{{.AppServerReleaseNumber}}" disabled="disabled" size="60" class="form-control">
              </div>
            </div>

  <br>
  <h5> Database Connection</h5>
            <div class="row">
              <div class="col-sm">
                <label for="sienaDataServer">MS SQL Server:</label>
                <input type="text" id="sienaDataServer" name="sienaDataServer" value="{{.AppDBServer}}" disabled="disabled" size="60" class="form-control">
                <small class="form-text text-muted">Machine Name or IP address</small>
              </div>
              <div class="col-sm">
                <label for="sienaDataSource">Database:</label>
                <input type="text" id="sienaDataSource" name="sienaDataSource" value="{{.AppDBDatabase}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="sienaDBSchema">Schema:</label>
                <input type="text" id="sienaDBSchema" name="sienaDBSchema" value="{{.AppDBSchema}}" disabled="disabled" size="60" class="form-control">
              </div>
            </div>



            <div class="row">
              <div class="col-sm">
                <label for="sienaDBUser">DB User :</label>
                <input type="text" id="sienaDBUser" name="sienaDBUser" value="{{.AppDBUser}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="sienaDBPassword">DB Password :</label>
                <input type="text" id="sienaDBPassword" name="sienaDBPassword" value="{{.AppDBPassword}}" disabled="disabled" size="60" class="form-control">
              </div>
              <div class="col-sm">
                <label for="sienaDBPort">DB Port :</label>
                <input type="text" id="sienaDBPort" name="sienaDBPort" value="{{.AppDBPort}}" disabled="disabled" size="60" class="form-control">
              </div>
            </div>
<br>
<h5>Credentials & Session Management</h5>
<div class="row">
  <div class="col-sm">
    <label for="sienaDataServer">Session Life:</label>
    <input type="text" id="sienaDataServer" name="sienaDataServer" value="{{.AppSessionLife}}" disabled="disabled" size="60" class="form-control">
    <small class="form-text text-muted">Duration</small>

  </div>
  <div class="col-sm">
    <label for="sienaDataSource">Credentials Life:</label>
    <input type="text" id="sienaDataSource" name="sienaDataSource" value="{{.AppCredentialsLife}}" disabled="disabled" size="60" class="form-control">
    <small class="form-text text-muted">Days</small>
  </div>
</div>
          </div>



        </div>
      </div>
    </div>
  </div>
{{template "userfooter" .}}
{{template "pagefooter" .}}
