{{template "header" .}}
{{template "bodydefinition" .}}

  <div class="container-fluid" style="margin-top: 4.5rem;">
<h1>{{.Origin.FullName}} - Active Projects ({{.ItemsOnPage}})</h1>
<table id="DataTable" class="table  align-middle mb-0 table-hover table-responsive bg-white" style="width:100%">
  <thead class="table-primary">
    <tr class="fs-6">
      <th>Name</th>
      <th>State</th>
      <th>Profile</th>
      <th>State</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    {{range .ItemList}}
    <tr class="fs-6">
      <td class="fw-bold">{{.Name}}</td>
      <td>{{.ProjectStateID}}</td>
      <td>{{.ProfileID}}</td>
      <td></td>
      <td>
        <a href="/EstimationSessionByProject/?ProjectID={{.ProjectID}}" class="btn btn-sm btn-outline-primary" role="button" aria-pressed="true">Estimates</a>
        <a href="/ProjectView/?ProjectID={{.ProjectID}}" class="btn btn-sm btn-outline-info" role="button" aria-pressed="true">Details</a>
        <a href="/origin/{{.ProjectID}}/delete" class="btn btn-sm btn-outline-danger" role="button" aria-pressed="true" disabled>Deactivate</a>
      </td>
    </tr>
    {{end}}
  </tbody>
<ol>
</ol>

    </div>

  {{template "userfooter" .}}
{{template "pagefooter" .}}

