{{template "header" .}} {{template "bodydefinition" .}}
<form action="/ProjectEdit/?ProjectID={{.ProjectID}}" method="POST" class="form">
    <div class="card">
        <div class="card-header">
            <div class="row d-flex align-items-center">
                <div class="col d-flex align-items-center"><h3><i class="fas fa-project-diagram me-2"></i>{{.Title}} {{.Name}}</h3></div>
                <div class="col d-flex justify-content-end">
                    <div class="btn-group" style="">
                        <button type="submit" class="btn btn-warning" method="get" formaction="/ProjectEdit/?ProjectID={{.ProjectID}}"  title="Edit Project {{.ProjectID}}"><i class="fas fa-pen me-2"></i>Edit</button>
                        <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Project {{.ProjectID}}"><i class="fas fa-print me-2"></i>Print</button>
                        <button type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSId" aria-describedby="SYSIdHelp" placeholder="0" disabled value="{{.SYSId}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSId">SYSId</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="ProjectID" aria-describedby="ProjectIDHelp" placeholder="" disabled value="{{.ProjectID}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="ProjectID"><i class="fas fa-key me-2"></i>ProjectID</label>
                        
                    </div>
                
                </div>
            </div>
             <h4>Identification</h4>
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="OriginID" name="OriginID" class="select" data-mdb-filter="true" disabled>
                  {{range .OriginID_lookup}}<option value="{{.ID}}" {{if eq .ID $.OriginID}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="OriginID" disabled>Origin</label>
                
                </div>

                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Name" aria-describedby="NameHelp" placeholder="" disabled value="{{.Name}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="Name">Name</label>
                        
                    </div>
                
                </div>
            </div>
             
             <h4>Properties</h4>
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="ProjectStateID" name="ProjectStateID" class="select" data-mdb-filter="true" disabled>
                  {{range .ProjectStateID_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProjectStateID}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="ProjectStateID" disabled>Status</label>
                
                </div>

                <div class="col">
                
                  <select id="ProfileID" name="ProfileID" class="select" data-mdb-filter="true" disabled>
                  {{range .ProfileID_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProfileID}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="ProfileID" disabled>Estimation Profile</label>
                
                </div>

                <div class="col">
                
                    <div class="form-outline datedisabled">
                        
                            <input type="date" class="form-control" id="StartDate" aria-describedby="StartDateHelp" placeholder="" disabled value="{{.StartDate}}" data-mdb-input-mask="yyyy-mm-dd"></input>
                        
                        <label class="form-label" for="StartDate">Start Date</label>
                        
                    </div>
                
                </div>



                <div class="col">
                

                    <div class="form-outline datedisabled">
                        
                            <input type="date" class="form-control" id="EndDate" aria-describedby="EndDateHelp" placeholder="" disabled readonly="true" value="{{.EndDate}}" data-mdb-input-mask="yyyy-mm-dd"></input>
                        
                        <label class="form-label" for="EndDate">End Date</label>
                        
                    </div>
                
                </div>
            </div>

            <h4>Resources</h4>
                        <div class="row mb-3"  >
                                   <div class="col">
                
                  <select id="ProjectEngineer" name="ProjectEngineer" class="select" data-mdb-filter="true" disabled>
                  {{range .ProjectEngineer_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProjectEngineer}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="ProjectEngineer" disabled>Lead Engineer</label>
                
                </div>
                <div class="col">
                
                  <select id="ProjectAnalyst" name="ProjectAnalyst" class="select" data-mdb-filter="true" disabled>
                  {{range .ProjectAnalyst_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProjectAnalyst}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="ProjectAnalyst" disabled>Lead Analyst</label>
                
                </div>
     

                <div class="col">
                
                  <select id="ProjectManager" name="ProjectManager" class="select" data-mdb-filter="true" disabled>
                  {{range .ProjectManager_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProjectManager}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="ProjectManager" disabled>Project Manager</label>
                
                </div>
            </div>
             <h4>Project Rates</h4>
       <div class="row mb-3"  >
                       <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="number" class="form-control" id="DefaultRate" aria-describedby="DefaultRateHelp" placeholder="" disabled value="{{.DefaultRate}}" data-mdb-input-mask="" step="0.25"></input>
                        
                        <label class="form-label" for="DefaultRate">Default</label>
                        
                    </div>
                
                </div>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="number" class="form-control" id="ProjectRate" aria-describedby="ProjectRateHelp" placeholder="" disabled value="{{.ProjectRate}}" data-mdb-input-mask="" step="0.25"></input>
                        
                        <label class="form-label" for="ProjectRate">Actual</label>
                        
                    </div>
                
                </div>
         

            </div>
            <h4>Description</h4>
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <textarea class="form-control" id="Description" name="Description" aria-describedby="DescriptionHelp" placeholder=""  disabled value="{{.Description}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.Description}}</textarea>
                        
                        <label class="form-label" for="Description">Description</label>
                        
                    </div>
                
                </div>
            </div>
           
            <h4>Comments</h4>
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <textarea class="form-control" id="Comments" name="Comments" aria-describedby="CommentsHelp" placeholder=""  disabled value="{{.Comments}}"  data-mdb-input-mask="" rows="4" maxlength="255">{{.Comments}}</textarea>
                        
                        <label class="form-label" for="Comments">Comments</label>
                        
                    </div>
                
                </div>
            </div>
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSCreated" aria-describedby="SYSCreatedHelp" placeholder="" disabled value="{{.SYSCreated}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSCreated">SYSCreated</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSCreatedBy" aria-describedby="SYSCreatedByHelp" placeholder="" disabled value="{{.SYSCreatedBy}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSCreatedBy">SYSCreatedBy</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSCreatedHost" aria-describedby="SYSCreatedHostHelp" placeholder="" disabled value="{{.SYSCreatedHost}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSCreatedHost">SYSCreatedHost</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSUpdated" aria-describedby="SYSUpdatedHelp" placeholder="" disabled value="{{.SYSUpdated}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSUpdated">SYSUpdated</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSUpdatedBy" aria-describedby="SYSUpdatedByHelp" placeholder="" disabled value="{{.SYSUpdatedBy}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSUpdatedBy">SYSUpdatedBy</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSUpdatedHost" aria-describedby="SYSUpdatedHostHelp" placeholder="" disabled value="{{.SYSUpdatedHost}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSUpdatedHost">SYSUpdatedHost</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDeleted" aria-describedby="SYSDeletedHelp" placeholder="" disabled value="{{.SYSDeleted}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSDeleted">SYSDeleted</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDeletedBy" aria-describedby="SYSDeletedByHelp" placeholder="" disabled value="{{.SYSDeletedBy}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSDeletedBy">SYSDeletedBy</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3" hidden hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="SYSDeletedHost" aria-describedby="SYSDeletedHostHelp" placeholder="" disabled value="{{.SYSDeletedHost}}" data-mdb-input-mask=""></input>
                        
                        <label class="form-label" for="SYSDeletedHost">SYSDeletedHost</label>
                        
                    </div>
                
                </div>
            </div>

         
             

            
        </div>
        {{template "audit" .}}
    </div>
</form>

{{template "userfooter" .}} {{template "pagefooter" .}}