{{template "headerNoMenu" .}}
{{template "bodydefinition" .}}

<form action="/CredentialsPasswordSave/?ID={{.ID}}"
  method="GET" class="form">
  <div class="card">
    <div class="card-header align-items-center">
      <div class="row align-items-center">
        <div class="col h3">
          <i class="fas fa-user-cog me-2"
            title="ID={{.ID}}"></i><span class="me-3">{{.Title}}</span>
        </div>
        <div class="col d-flex justify-content-end">
          <div class="btn-group">
            
            <button type="submit" value="" class="btn btn-danger" method="GET" formaction="/CredentialsPasswordStore/?ID={{.ID}}" onclick="/CredentialsPasswordStore/?ID={{.ID}}" title="Update Password"><i class="fas fa-save me-2"></i>Update</button>
            
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row"><div class="col">Please enter a new password. Please type your current password, and your new password twice. <br><br>Click UPDATE to update your password.<br><hr></div></div>
        <div class="row mb-3"  hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.ID_props.MsgType}}" id="ID" name="ID" aria-describedby="IDHelp" placeholder=""   value="{{.ID}}" required data-mdb-input-mask="" />
              
              <label class="form-label" for="ID" ><i class="fas fa-key me-2"></i>ID</label>
              <div class="{{.ID_props.MsgFeedBackType}}">{{.ID_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div hidden class="form-outline">
              
              <input type="text" class="form-control {{.UserName_props.MsgType}}" id="UserName" name="UserName" aria-describedby="UserNameHelp" placeholder="" autocomplete="off"  value="{{.UserName}}" required data-mdb-input-mask="" />
              
              <label class="form-label" for="UserName" >UserName</label>
              <div class="{{.UserName_props.MsgFeedBackType}}">{{.UserName_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="password" class="form-control {{.PasswordOld_props.MsgType}}" id="PasswordOld" name="PasswordOld" aria-describedby="PasswordOldHelp" placeholder="" autocomplete="off"  value="{{.PasswordOld}}" required data-mdb-input-mask="" />
              
              <label class="form-label" for="PasswordOld" >Current Password</label>
              <div class="{{.PasswordOld_props.MsgFeedBackType}}">{{.PasswordOld_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="password" class="form-control {{.PasswordNew_props.MsgType}}" id="PasswordNew" name="PasswordNew" aria-describedby="PasswordNewHelp" placeholder="" autocomplete="off"  value="{{.PasswordNew}}" required data-mdb-input-mask="" />
              
              <label class="form-label" for="PasswordNew" >New Password</label>
              <div class="{{.PasswordNew_props.MsgFeedBackType}}">{{.PasswordNew_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="password" class="form-control {{.PasswordConfirm_props.MsgType}}" id="PasswordConfirm" name="PasswordConfirm" aria-describedby="PasswordConfirmHelp" placeholder="" autocomplete="off"  value="{{.PasswordConfirm}}" required data-mdb-input-mask="" />
              
              <label class="form-label" for="PasswordConfirm" >Confirm New Password</label>
              <div class="{{.PasswordConfirm_props.MsgFeedBackType}}">{{.PasswordConfirm_props.MsgMessage}}</div>
            </div>
        
        </div></div>
      
      
    </div>
    
  </div>
</form>

{{template "userfooter" .}}
{{template "pagefooter" .}}