{{template "header" .}} {{template "bodydefinition" .}}
<form action="/FeatureNewEdit/?ID={{.ID}}" method="POST" class="form">
    <div class="card">
        <div class="card-header align-items-center" >
            <div class="row align-items-center">
                <div class="col h3 align-items-center">
                    <i class="far fa-plus-square me-2" title="ID = {{.ID}}"></i><span class="me-3">{{.Title}}</span>
                </div>
                <div class="col d-flex justify-content-end">
                    <div class="btn-group float-right">
                        
                        <button type="submit" class="btn btn-warning" method="get" formaction="/FeatureNewEdit/?ID={{.ID}}"  title="Edit Create a New Feature {{.ID}}"><i class="fas fa-pen me-2"></i>Edit</button>
                        <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Create a New Feature {{.ID}}"><i class="fas fa-print me-2"></i>Print</button>
                        <button type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
             
            <div class="row mb-3"  hidden>
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="ID" aria-describedby="IDHelp" placeholder="" disabled value="{{.ID}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="ID"><i class="fas fa-key me-2"></i>ID</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="EstimationSessionID" name="EstimationSessionID" class="select" data-mdb-filter="true" disabled>
                  {{range .EstimationSessionID_lookup}}<option value="{{.ID}}" {{if eq .ID $.EstimationSessionID}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="EstimationSessionID" disabled>EstimationSessionID</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Name" aria-describedby="NameHelp" placeholder="" disabled value="{{.Name}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="Name">Name</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="DeveloperEstimate" aria-describedby="DeveloperEstimateHelp" placeholder="" disabled value="{{.DeveloperEstimate}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="DeveloperEstimate">DeveloperEstimate</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="DeveloperResource" name="DeveloperResource" class="select" data-mdb-filter="true" disabled>
                  {{range .DeveloperResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.DeveloperResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="DeveloperResource" disabled>DeveloperResource</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="AnalystEstimate" aria-describedby="AnalystEstimateHelp" placeholder="" disabled value="{{.AnalystEstimate}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="AnalystEstimate">AnalystEstimate</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="AnalystResource" name="AnalystResource" class="select" data-mdb-filter="true" disabled>
                  {{range .AnalystResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.AnalystResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="AnalystResource" disabled>AnalystResource</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="ConfidenceCODE" name="ConfidenceCODE" class="select" data-mdb-filter="true" disabled>
                  {{range .ConfidenceCODE_lookup}}<option value="{{.ID}}" {{if eq .ID $.ConfidenceCODE}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="ConfidenceCODE" disabled>ConfidenceCODE</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="ProductManagerResource" name="ProductManagerResource" class="select" data-mdb-filter="true" disabled>
                  {{range .ProductManagerResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProductManagerResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="ProductManagerResource" disabled>ProductManagerResource</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="ProjectManagerResource" name="ProjectManagerResource" class="select" data-mdb-filter="true" disabled>
                  {{range .ProjectManagerResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProjectManagerResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="ProjectManagerResource" disabled>ProjectManagerResource</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Description" aria-describedby="DescriptionHelp" placeholder="" disabled value="{{.Description}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="Description">Description</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="Comments" aria-describedby="CommentsHelp" placeholder="" disabled value="{{.Comments}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="Comments">Comments</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="DevOpsID" aria-describedby="DevOpsIDHelp" placeholder="" disabled value="{{.DevOpsID}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="DevOpsID">DevOpsID</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="FreshDeskID" aria-describedby="FreshDeskIDHelp" placeholder="" disabled value="{{.FreshDeskID}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="FreshDeskID">FreshDeskID</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="RSCID" aria-describedby="RSCIDHelp" placeholder="" disabled value="{{.RSCID}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="RSCID">RSCID</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="OtherID" aria-describedby="OtherIDHelp" placeholder="" disabled value="{{.OtherID}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="OtherID">OtherID</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <input type="text" class="form-control" id="OtherID2" aria-describedby="OtherID2Help" placeholder="" disabled value="{{.OtherID2}}" data-mdb-input-mask="" ></input>
                        
                        <label class="form-label" for="OtherID2">OtherID2</label>
                        
                    </div>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="DefaultProfile" name="DefaultProfile" class="select" data-mdb-filter="true" disabled>
                  {{range .DefaultProfile_lookup}}<option value="{{.ID}}" {{if eq .ID $.DefaultProfile}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="DefaultProfile" disabled>DefaultProfile</label>
                
                </div>
            </div>
             
            <div class="row mb-3"  >
                <div class="col">
                
                  <select id="ActualProfile" name="ActualProfile" class="select" data-mdb-filter="true" disabled>
                  {{range .ActualProfile_lookup}}<option value="{{.ID}}" {{if eq .ID $.ActualProfile}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                  </select>
                  <label class="form-label select-label" for="ActualProfile" disabled>ActualProfile</label>
                
                </div>
            </div>
            
        </div>
        
    </div>
</form>

{{template "userfooter" .}} {{template "pagefooter" .}}