{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/FeatureNewSave" method="GET" class="form">
      <div class="card">
        <div class="card-header align-items-center">
          <div class="row align-items-center">
             <div class="col h3 align-items-center">
                    <i class="far fa-plus-square me-2" title="ID = NEW"></i><span class="me-3">{{.Title}}</span>
                </div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger" method="GET" formaction="/FeatureNewSave" onclick="/FeatureNewSave" title="Save Create a New Feature"><i class="fas fa-save me-2"></i>Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Create a New Feature"><i class="fas fa-print me-2"></i>Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
      
            <div class="row mb-3" readonly="true" hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ID_props.MsgType}}" id="ID" name="ID" aria-describedby="IDHelp" placeholder="" readonly="true" value="{{.ID}}" required data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="ID" readonly="true"><i class="fas fa-key me-2"></i>ID</label>
              <div class="{{.ID_props.MsgFeedBackType}}">{{.ID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="EstimationSession" name="EstimationSession" class="select" data-mdb-filter="true"  required>
                {{range .EstimationSession_lookup}}<option value="{{.ID}}" {{if eq .ID $.EstimationSession}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="EstimationSession" >EstimationSession</label>
            <div class="{{.EstimationSession_props.MsgFeedBackType}}">{{.EstimationSession_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Name_props.MsgType}}" id="Name" name="Name" aria-describedby="NameHelp" placeholder=""  value="{{.Name}}" required data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Name" >Name</label>
              <div class="{{.Name_props.MsgFeedBackType}}">{{.Name_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.DevEstimate_props.MsgType}}" id="DevEstimate" name="DevEstimate" aria-describedby="DevEstimateHelp" placeholder=""  value="{{.DevEstimate}}" required data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="DevEstimate" >DevEstimate</label>
              <div class="{{.DevEstimate_props.MsgFeedBackType}}">{{.DevEstimate_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="Confidence" name="Confidence" class="select" data-mdb-filter="true"  required>
                {{range .Confidence_lookup}}<option value="{{.ID}}" {{if eq .ID $.Confidence}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="Confidence" >Confidence</label>
            <div class="{{.Confidence_props.MsgFeedBackType}}">{{.Confidence_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="Developer" name="Developer" class="select" data-mdb-filter="true"  >
                {{range .Developer_lookup}}<option value="{{.ID}}" {{if eq .ID $.Developer}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="Developer" >Developer</label>
            <div class="{{.Developer_props.MsgFeedBackType}}">{{.Developer_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Comments_props.MsgType}}" id="Comments" name="Comments" aria-describedby="CommentsHelp" placeholder=""  value="{{.Comments}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Comments" >Comments</label>
              <div class="{{.Comments_props.MsgFeedBackType}}">{{.Comments_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Description_props.MsgType}}" id="Description" name="Description" aria-describedby="DescriptionHelp" placeholder=""  value="{{.Description}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Description" >Description</label>
              <div class="{{.Description_props.MsgFeedBackType}}">{{.Description_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.DevOpsID_props.MsgType}}" id="DevOpsID" name="DevOpsID" aria-describedby="DevOpsIDHelp" placeholder=""  value="{{.DevOpsID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="DevOpsID" >DevOpsID</label>
              <div class="{{.DevOpsID_props.MsgFeedBackType}}">{{.DevOpsID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.FreshDeskID_props.MsgType}}" id="FreshDeskID" name="FreshDeskID" aria-describedby="FreshDeskIDHelp" placeholder=""  value="{{.FreshDeskID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="FreshDeskID" >FreshDeskID</label>
              <div class="{{.FreshDeskID_props.MsgFeedBackType}}">{{.FreshDeskID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.RSCID_props.MsgType}}" id="RSCID" name="RSCID" aria-describedby="RSCIDHelp" placeholder=""  value="{{.RSCID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="RSCID" >RSCID</label>
              <div class="{{.RSCID_props.MsgFeedBackType}}">{{.RSCID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.OtherID_props.MsgType}}" id="OtherID" name="OtherID" aria-describedby="OtherIDHelp" placeholder=""  value="{{.OtherID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="OtherID" >OtherID</label>
              <div class="{{.OtherID_props.MsgFeedBackType}}">{{.OtherID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.OtherID2_props.MsgType}}" id="OtherID2" name="OtherID2" aria-describedby="OtherID2Help" placeholder=""  value="{{.OtherID2}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="OtherID2" >OtherID2</label>
              <div class="{{.OtherID2_props.MsgFeedBackType}}">{{.OtherID2_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="Analyst" name="Analyst" class="select" data-mdb-filter="true"  >
                {{range .Analyst_lookup}}<option value="{{.ID}}" {{if eq .ID $.Analyst}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="Analyst" >Analyst</label>
            <div class="{{.Analyst_props.MsgFeedBackType}}">{{.Analyst_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="ProductManager" name="ProductManager" class="select" data-mdb-filter="true"  >
                {{range .ProductManager_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProductManager}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="ProductManager" >ProductManager</label>
            <div class="{{.ProductManager_props.MsgFeedBackType}}">{{.ProductManager_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="ProjectManager" name="ProjectManager" class="select" data-mdb-filter="true"  >
                {{range .ProjectManager_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProjectManager}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="ProjectManager" >ProjectManager</label>
            <div class="{{.ProjectManager_props.MsgFeedBackType}}">{{.ProjectManager_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <select id="DefaultProfile" name="DefaultProfile" class="select" data-mdb-filter="true" readonly="true" >
                {{range .DefaultProfile_lookup}}<option value="{{.ID}}" {{if eq .ID $.DefaultProfile}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="DefaultProfile" readonly="true">DefaultProfile</label>
            <div class="{{.DefaultProfile_props.MsgFeedBackType}}">{{.DefaultProfile_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="ActualProfile" name="ActualProfile" class="select" data-mdb-filter="true"  >
                {{range .ActualProfile_lookup}}<option value="{{.ID}}" {{if eq .ID $.ActualProfile}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="ActualProfile" >ActualProfile</label>
            <div class="{{.ActualProfile_props.MsgFeedBackType}}">{{.ActualProfile_props.MsgMessage}}</div>
                  
          </div></div>

     
        </div>
      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}