{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/FeatureNewSave" method="GET" class="form">
      <div class="card">
        <div class="card-header align-items-center">
          <div class="row align-items-center">
             <div class="col h3 align-items-center">
                    <i class="far fa-plus-square me-2" title="ID = NEW"></i><span class="me-3">{{.Title}}</span>
                </div>
            <div class="col d-flex justify-content-end">
              <div class="btn-group float-right">
              
                <button type="submit" value="" class="btn btn-danger" method="GET" formaction="/FeatureNewSave" onclick="/FeatureNewSave" title="Save Create a New Feature"><i class="fas fa-save me-2"></i>Save</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Create a New Feature"><i class="fas fa-print me-2"></i>Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
      
            <div class="row mb-3" readonly="true" hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ID_props.MsgType}}" id="ID" name="ID" aria-describedby="IDHelp" placeholder="" readonly="true" value="{{.ID}}" required data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="ID" readonly="true"><i class="fas fa-key me-2"></i>ID</label>
              <div class="{{.ID_props.MsgFeedBackType}}">{{.ID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="EstimationSessionID" name="EstimationSessionID" class="select" data-mdb-filter="true"  required>
                {{range .EstimationSessionID_lookup}}<option value="{{.ID}}" {{if eq .ID $.EstimationSessionID}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="EstimationSessionID" >EstimationSessionID</label>
            <div class="{{.EstimationSessionID_props.MsgFeedBackType}}">{{.EstimationSessionID_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Name_props.MsgType}}" id="Name" name="Name" aria-describedby="NameHelp" placeholder=""  value="{{.Name}}" required data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Name" >Name</label>
              <div class="{{.Name_props.MsgFeedBackType}}">{{.Name_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.DeveloperEstimate_props.MsgType}}" id="DeveloperEstimate" name="DeveloperEstimate" aria-describedby="DeveloperEstimateHelp" placeholder=""  value="{{.DeveloperEstimate}}" required data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="DeveloperEstimate" >DeveloperEstimate</label>
              <div class="{{.DeveloperEstimate_props.MsgFeedBackType}}">{{.DeveloperEstimate_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="DeveloperResource" name="DeveloperResource" class="select" data-mdb-filter="true"  >
                {{range .DeveloperResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.DeveloperResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="DeveloperResource" >DeveloperResource</label>
            <div class="{{.DeveloperResource_props.MsgFeedBackType}}">{{.DeveloperResource_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.AnalystEstimate_props.MsgType}}" id="AnalystEstimate" name="AnalystEstimate" aria-describedby="AnalystEstimateHelp" placeholder=""  value="{{.AnalystEstimate}}" required data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="AnalystEstimate" >AnalystEstimate</label>
              <div class="{{.AnalystEstimate_props.MsgFeedBackType}}">{{.AnalystEstimate_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="AnalystResource" name="AnalystResource" class="select" data-mdb-filter="true"  >
                {{range .AnalystResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.AnalystResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="AnalystResource" >AnalystResource</label>
            <div class="{{.AnalystResource_props.MsgFeedBackType}}">{{.AnalystResource_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="ConfidenceCODE" name="ConfidenceCODE" class="select" data-mdb-filter="true"  required>
                {{range .ConfidenceCODE_lookup}}<option value="{{.ID}}" {{if eq .ID $.ConfidenceCODE}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="ConfidenceCODE" >ConfidenceCODE</label>
            <div class="{{.ConfidenceCODE_props.MsgFeedBackType}}">{{.ConfidenceCODE_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="ProductManagerResource" name="ProductManagerResource" class="select" data-mdb-filter="true"  >
                {{range .ProductManagerResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProductManagerResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="ProductManagerResource" >ProductManagerResource</label>
            <div class="{{.ProductManagerResource_props.MsgFeedBackType}}">{{.ProductManagerResource_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="ProjectManagerResource" name="ProjectManagerResource" class="select" data-mdb-filter="true"  >
                {{range .ProjectManagerResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProjectManagerResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="ProjectManagerResource" >ProjectManagerResource</label>
            <div class="{{.ProjectManagerResource_props.MsgFeedBackType}}">{{.ProjectManagerResource_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Description_props.MsgType}}" id="Description" name="Description" aria-describedby="DescriptionHelp" placeholder=""  value="{{.Description}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Description" >Description</label>
              <div class="{{.Description_props.MsgFeedBackType}}">{{.Description_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Comments_props.MsgType}}" id="Comments" name="Comments" aria-describedby="CommentsHelp" placeholder=""  value="{{.Comments}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="Comments" >Comments</label>
              <div class="{{.Comments_props.MsgFeedBackType}}">{{.Comments_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.DevOpsID_props.MsgType}}" id="DevOpsID" name="DevOpsID" aria-describedby="DevOpsIDHelp" placeholder=""  value="{{.DevOpsID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="DevOpsID" >DevOpsID</label>
              <div class="{{.DevOpsID_props.MsgFeedBackType}}">{{.DevOpsID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.FreshDeskID_props.MsgType}}" id="FreshDeskID" name="FreshDeskID" aria-describedby="FreshDeskIDHelp" placeholder=""  value="{{.FreshDeskID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="FreshDeskID" >FreshDeskID</label>
              <div class="{{.FreshDeskID_props.MsgFeedBackType}}">{{.FreshDeskID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.RSCID_props.MsgType}}" id="RSCID" name="RSCID" aria-describedby="RSCIDHelp" placeholder=""  value="{{.RSCID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="RSCID" >RSCID</label>
              <div class="{{.RSCID_props.MsgFeedBackType}}">{{.RSCID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.OtherID_props.MsgType}}" id="OtherID" name="OtherID" aria-describedby="OtherIDHelp" placeholder=""  value="{{.OtherID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="OtherID" >OtherID</label>
              <div class="{{.OtherID_props.MsgFeedBackType}}">{{.OtherID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.OtherID2_props.MsgType}}" id="OtherID2" name="OtherID2" aria-describedby="OtherID2Help" placeholder=""  value="{{.OtherID2}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="OtherID2" >OtherID2</label>
              <div class="{{.OtherID2_props.MsgFeedBackType}}">{{.OtherID2_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" ><div class="col">
         
            <select id="DefaultProfile" name="DefaultProfile" class="select" data-mdb-filter="true" readonly="true" >
                {{range .DefaultProfile_lookup}}<option value="{{.ID}}" {{if eq .ID $.DefaultProfile}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="DefaultProfile" readonly="true">DefaultProfile</label>
            <div class="{{.DefaultProfile_props.MsgFeedBackType}}">{{.DefaultProfile_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <select id="ActualProfile" name="ActualProfile" class="select" data-mdb-filter="true"  >
                {{range .ActualProfile_lookup}}<option value="{{.ID}}" {{if eq .ID $.ActualProfile}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="ActualProfile" >ActualProfile</label>
            <div class="{{.ActualProfile_props.MsgFeedBackType}}">{{.ActualProfile_props.MsgMessage}}</div>
                  
          </div></div>

     
        </div>
      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}