{{template "header" .}}
<link rel="stylesheet" type="text/css" href="/assets/DataTables/datatables.min.css"/>
{{template "bodydefinition" .}}

      <div class="card">
       
            <div class="card-header align-items-center" style="padding-bottom:0;">
              <div class="row d-flex align-items-center">
                <div class="col h4 align-items-center">
                  <i class="fas fa-table me-2 text-primary"></i><span class="me-3">{{.Title}}</span>
                </div>
                <div class="col d-flex justify-content-end">
                  <form action="/home" method="GET" style="padding:0;">
                    <div class="btn-group float-right" style="margin-bottom:0rem;">
                    <button type="submit" value="" class="btn btn-primary" formaction="/DataNew" method="GET" title="Create a new System Properties"><i class="fas fa-plus me-2"></i>New</button>
                    <button id="close" type="button" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>



            <div class="card-body">
             
                           
                    <table id="DataTable" class="table table-hover table-responsive" style="width:100%">
                      <thead class="table-primary text-uppercase">
                        <tr style="">
                          
                          
                          <th class="text-center">Class</th>
                          <th class="text-center">Field</th>
                          <th class="text-center">Value</th>
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          <th class="text-center">Category</th>
                          <th class="text-center">Migrate</th>
                          <th class="text-center">Usage</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </thead>
                      <tbody id="filterTable">
                        {{range .ItemList}}
                        <tr>
                          
                          
                          <td class="align-middle" >{{.Class}}</td>
                          <td class="align-middle" >{{.Field}}</td>
                          <td class="align-middle" >{{.Value}}</td>
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          <td class="align-middle" >{{.Category}}</td>
                          <td class="align-middle" >{{.Migrate}}</td>
                          <td class="align-middle" >{{.Usage}}</td>
                          
                          <td class="align-middle text-center" style="width:1px;padding:0px;padding-top:1rem;">
                              <form action="/home" method="POST" class="d-flex justify-content-center">
                                  <div class="btn-group" id="ActionButtonGroup2">
                                    <button type="submit" value="" class="btn  btn-info " formaction="/DataView?DataID={{.DataID}}" method="POST" title="View System Properties"><i class="far fa-eye"></i></button>
                                    <button type="submit" value="" class="btn  btn-warning " formaction="/DataEdit?DataID={{.DataID}}" method="POST" title="Edit System Properties"><i class="fas fa-edit"></i></button>
                                    <button type="submit" value="" class="btn  btn-danger " formaction="/DataDelete?DataID={{.DataID}}" method="POST" title="Delete System Properties"><i class="fas fa-trash"></i></button>
                                  </div>
                                </form>
                          </td>
                        </tr>
                        {{end}}
                      </tbody>
                       <tfoot class="table-light text-uppercase">
                        <tr style="">
                          
                          
                          <th class="text-center">Class</th>
                          <th class="text-center">Field</th>
                          <th class="text-center">Value</th>
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          
                          <th class="text-center">Category</th>
                          <th class="text-center">Migrate</th>
                          <th class="text-center">Usage</th>
                          <th class="text-right"><div class="d-flex justify-content-center">Actions</div></th>
                        </tr>
                      </tfoot>
                    </table>
            

            </div>
        </form>
      </div>




{{template "userfooter" .}}
{{template "exportcontrols" .}}
{{template "tablecontrols" .}}
{{template "pagefooter" .}}