{{template "header" .}}
{{template "bodydefinition" .}}
    <form action="/FeatureNewSave" method="GET" class="form">
     <div class="container-fluid">
   <div class="d-flex row note note-light bg-white shadow-4 mb-3 align-items-center">

      <div class="d-flex col h-100  align-items-right">
        <nav aria-label="breadcrumb" class="align-items-center"> 
          <ol class="breadcrumb  h-100 align-items-center">
                  <li class="breadcrumb-item lead"><a href="/home"><span class="text-primary"><i class="fas fa-home fa-sm me-2"></i></span>Home</a></li>
          <li class="breadcrumb-item lead"><a href="/ProjectsByOrigin/?OriginID={{.OriginID}}">{{.OriginCode}}</a></li>
          <li class="breadcrumb-item lead"><a href="/EstimationSessionByProject/?ProjectID={{.ProjectID}}">{{.Name}}</a></li>
          <li class="breadcrumb-item lead"><a href="/FeatureByEstimationSession/?EstimationSessionID={{.EstimationSessionID}}">{{.EstimationSessionName}}</a></li>
            <li class="breadcrumb-item lead active"><span class="text-primary">New</span></li>


          
          </ol>
        </nav>
      </div>

      
    </div>
  </div>
      <div class="card">
        <div class="card-header align-items-center" style="padding-bottom:0;">
          <div class="row align-items-center">
             <div class="col h4 align-items-center">
                    <i class="fas fa-tasks me-2 text-primary" title="FeatureID = New"></i><span class="me-3">Create a new feature</span>
                </div>
            <div class="col d-flex justify-content-end">
                    <div class="btn-group float-right" style="margin-bottom:1rem;">
              
                <button type="submit" value="" class="btn btn-danger" method="GET" formaction="/FeatureNewCreate" onclick="/FeatureNewCreate" title="Create a New Feature"><i class="fas fa-save me-2"></i>Create</button>
              
                <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Create a New Feature"><i class="fas fa-print me-2"></i>Print</button>
                <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2" ></i>Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
      
            <div class="row mb-3" readonly="true" hidden><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.ID_props.MsgType}}" id="ID" name="ID" aria-describedby="IDHelp" placeholder="" readonly="true" value="{{.ID}}" required data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="ID" readonly="true"><i class="fas fa-key me-2"></i>ID</label>
              <div class="{{.ID_props.MsgFeedBackType}}">{{.ID_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

          <div class="row mb-3" hidden><div class="col hidden">
            <input type="text" class="form-control" id="EstimationSessionID" name="EstimationSessionID" aria-describedby="IDHelp" placeholder="" readonly="" value="{{.EstimationSessionID}}" hidden data-mdb-input-mask="" >
            <select id="EstimationSessionIDDisplay" name="EstimationSessionIDDisplay" class="select" data-mdb-filter="true" disabled required>
                {{range .EstimationSessionID_lookup}}<option value="{{.ID}}" {{if eq .ID $.EstimationSessionID}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="EstimationSessionIDDisplay" >Estimate</label>
            <div class="{{.EstimationSessionID_props.MsgFeedBackType}}">{{.EstimationSessionID_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.Name_props.MsgType}}" id="Name" name="Name" aria-describedby="NameHelp" placeholder=""  value="{{.Name}}" required data-mdb-input-mask="" >
            
           
           
              <label class="form-label text-danger" for="Name" >Feature Name</label>
              <div class="{{.Name_props.MsgFeedBackType}}">{{.Name_props.MsgMessage}}</div>
            </div>
                  
          </div>
          
          <div class="col">
         
            <select id="ProfileSelected" name="ProfileSelected" class="select" data-mdb-filter="true"  >
                {{range .ProfileSelected_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProfileSelected}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                                                                <option value="" {{if eq "" .ProfileSelected}}selected{{end}} data-mdb-secondary-text=""></option>

            </select>
            <label class="form-label select-label text-danger" for="ProfileSelected" >Estimation Profile</label>
            <div class="text-danger">{{.ProfileSelected_props.MsgMessage}}</div>
                  
          </div></div>

 <h4 class="text-muted">SOW Estimates</h4>
            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.DeveloperEstimate_props.MsgType}}" id="DeveloperEstimate" name="DeveloperEstimate" aria-describedby="DeveloperEstimateHelp" placeholder=""  value="{{.DeveloperEstimate}}" required data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label text-danger" for="DeveloperEstimate" >Engineering Estimate</label>
              <div class="{{.DeveloperEstimate_props.MsgFeedBackType}}">{{.DeveloperEstimate_props.MsgMessage}}</div>
            </div>
                  
          </div>
          
          <div class="col">
         
            <select id="DeveloperResource" name="DeveloperResource" class="select" data-mdb-filter="true"  required>
                {{range .DeveloperResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.DeveloperResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                                                                <option value="" {{if eq "" .DeveloperResource}}selected{{end}} data-mdb-secondary-text=""></option>

            </select>
            <label class="form-label select-label text-danger" for="DeveloperResource" >Engineer</label>
            <div class="text-danger">{{.DeveloperResource_props.MsgMessage}}</div>
                  
          </div>
          
          <div class="col">
         
            <select id="ConfidenceCODE" name="ConfidenceCODE" class="select" data-mdb-filter="true"  required>
                {{range .ConfidenceCODE_lookup}}<option value="{{.ID}}" {{if eq .ID $.ConfidenceCODE}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                                                                                <option value="" {{if eq "" .ConfidenceCODE}}selected{{end}} data-mdb-secondary-text=""></option>

            </select>
            <label class="form-label select-label text-danger" for="ConfidenceCODE" >Confidence Level</label>
            <div class="text-danger">{{.ConfidenceCODE_props.MsgMessage}}</div>
                  
          </div></div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.AnalystEstimate_props.MsgType}}" id="AnalystEstimate" name="AnalystEstimate" aria-describedby="AnalystEstimateHelp" placeholder=""  value="{{.AnalystEstimate}}"  data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label" for="AnalystEstimate" >Analyst Estimate</label>
              <div class="{{.AnalystEstimate_props.MsgFeedBackType}}">{{.AnalystEstimate_props.MsgMessage}}</div>
            </div>
                  
          </div>
          
          <div class="col">
         
            <select id="AnalystResource" name="AnalystResource" class="select" data-mdb-filter="true"  required>
                {{range .AnalystResource_lookup}}<option value="{{.ID}}" {{if eq .ID $.AnalystResource}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
                                                                <option value="" {{if eq "" .AnalystResource}}selected{{end}} data-mdb-secondary-text=""></option>

            </select>
            <label class="form-label select-label" for="AnalystResource" >Analyst</label>
            <div class="text-danger">{{.AnalystResource_props.MsgMessage}}</div>
                  
          </div>
          <div class="col"></div>
          </div>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="number" class="form-control {{.EstimateEffort_props.MsgType}}" id="EstimateEffort" name="EstimateEffort" aria-describedby="EstimateEffortHelp" placeholder=""  value="{{.EstimateEffort}}"  data-mdb-input-mask="" step="0.25">
            
           
           
              <label class="form-label" for="EstimateEffort" >Estimation Effort</label>
              <div class="{{.EstimateEffort_props.MsgFeedBackType}}">{{.EstimateEffort_props.MsgMessage}}</div>
            </div>
                  
          </div>
                    <div class="col"></div>
          <div class="col"></div>

          
          </div>




        <h4 class="text-muted">Links & External Refs</h4>

            <div class="row mb-3"  ><div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.DevOpsID_props.MsgType}}" id="DevOpsID" name="DevOpsID" aria-describedby="DevOpsIDHelp" placeholder=""  value="{{.DevOpsID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="DevOpsID" >DevOpsID</label>
              <div class="{{.DevOpsID_props.MsgFeedBackType}}">{{.DevOpsID_props.MsgMessage}}</div>
            </div>
                  
          </div>
          
          <div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.FreshDeskID_props.MsgType}}" id="FreshDeskID" name="FreshDeskID" aria-describedby="FreshDeskIDHelp" placeholder=""  value="{{.FreshDeskID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="FreshDeskID" >FreshDeskID</label>
              <div class="{{.FreshDeskID_props.MsgFeedBackType}}">{{.FreshDeskID_props.MsgMessage}}</div>
            </div>
                  
          </div>
          
          <div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.RSCID_props.MsgType}}" id="RSCID" name="RSCID" aria-describedby="RSCIDHelp" placeholder=""  value="{{.RSCID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="RSCID" >RSCID</label>
              <div class="{{.RSCID_props.MsgFeedBackType}}">{{.RSCID_props.MsgMessage}}</div>
            </div>
                  
          </div>
          
          <div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.OtherID_props.MsgType}}" id="OtherID" name="OtherID" aria-describedby="OtherIDHelp" placeholder=""  value="{{.OtherID}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="OtherID" >OtherID</label>
              <div class="{{.OtherID_props.MsgFeedBackType}}">{{.OtherID_props.MsgMessage}}</div>
            </div>
                  
          </div>
          
          <div class="col">
         
            <div class="form-outline">

            
                <input type="text" class="form-control {{.OtherID2_props.MsgType}}" id="OtherID2" name="OtherID2" aria-describedby="OtherID2Help" placeholder=""  value="{{.OtherID2}}"  data-mdb-input-mask="" >
            
           
           
              <label class="form-label" for="OtherID2" >OtherID2</label>
              <div class="{{.OtherID2_props.MsgFeedBackType}}">{{.OtherID2_props.MsgMessage}}</div>
            </div>
                  
          </div></div>

            <div class="row mb-3" readonly="true" hidden ><div class="col">
         
            <select id="ProfileDefault" name="ProfileDefault" class="select" data-mdb-filter="true" readonly="true" >
                {{range .ProfileDefault_lookup}}<option value="{{.ID}}" {{if eq .ID $.ProfileDefault}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="ProfileDefault" readonly="true">ProfileDefault</label>
            <div class="{{.ProfileDefault_props.MsgFeedBackType}}">{{.ProfileDefault_props.MsgMessage}}</div>
                  
          </div></div>



     
        </div>
      </div>
    </form>
  
{{template "userfooter" .}}
{{template "pagefooter" .}}