{{template "header" .}}
{{template "bodydefinition" .}}

<form action="/FeatureCreate/?ID={{.ID}}"
  method="GET" class="form">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col h3">
          <i class="fas fa-tasks me-2"
            title="ID={{.ID}}"></i><span class="me-2">Create a new feature</span>
        </div>
        <div class="col d-flex justify-content-end">
          <div class="btn-group">
            
            <button type="submit" value="" class="btn btn-warning" method="GET" formaction="/FeatureCreate/?ID={{.ID}}" onclick="/FeatureCreate/?ID={{.ID}}" title="Create a New Feature"><i class="fas fa-save me-2"></i>Create</button>
            
            <button id="print" type="button" class="btn btn-info" onclick="window.print()" title="Print Create a New Feature"><i class="fas fa-print me-2"></i></i>Print</button>
            <button type="button" value="" class="btn btn-light" onclick="history.back()" title="Back"><i class="fas fa-times me-2"></i>Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
     
        <div class="row mb-3" readonly="true" hidden><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.ID_props.MsgType}}" id="ID" name="ID" aria-describedby="IDHelp" placeholder="" readonly="true"  value="{{.ID}}" required data-mdb-input-mask="" />
              
              <label class="form-label" for="ID" readonly="true"><i class="fas fa-key me-2"></i>ID</label>
              <div class="{{.ID_props.MsgFeedBackType}}">{{.ID_props.MsgMessage}}</div>
            </div>
        
        </div></div>
       <h4>Identification</h4>
        <div class="row mb-3"  ><div class="col">
        
             <input type="text" class="form-control" id="EstimationSession" name="EstimationSession" aria-describedby="NameHelp" placeholder=""  hidden value="{{.EstimationSession}}" required data-mdb-input-mask="" />


            <select id="EstimationSessionDisplay" name="EstimationSessionDisplay" class="select" data-mdb-filter="true"  required disabled>
                {{range .EstimationSession_lookup}}<option value="{{.ID}}" {{if eq .ID $.EstimationSession}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="EstimationSessionDisplay" >Estimate</label>
            <div class="{{.EstimationSession_props.MsgFeedBackType}}">{{.EstimationSession_props.MsgMessage}}</div>
            
        
        </div>
        <div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.Name_props.MsgType}}" id="Name" name="Name" aria-describedby="NameHelp" placeholder=""   value="{{.Name}}" required data-mdb-input-mask="" />
              
              <label class="form-label" for="Name" >Name</label>
              <div class="{{.Name_props.MsgFeedBackType}}">{{.Name_props.MsgMessage}}</div>
            </div>
        
        </div></div>
           <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <textarea class="form-control" id="Description" name="Notes" aria-describedby="NotesHelp" placeholder=""   value="placeholder"  data-mdb-input-mask="" rows="4" maxlength="255">placeholder</textarea>
                        
                        <label class="form-label" for="Description">Description</label>
                        
                    </div>
                
                </div>
            </div>
            <h4>Links</h4>

       
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control " id="AdoID" name="AdoID" aria-describedby="AdoIDHelp" placeholder=""   value=""  data-mdb-input-mask="" />
              
              <label class="form-label" for="AdoID" >Azure DevOps ID</label>
              <div class=""></div>
            </div>
        
        </div>
        
        <div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control " id="FreshdeskID" name="FreshdeskID" aria-describedby="FreshdeskIDHelp" placeholder=""   value=""  data-mdb-input-mask="" />
              
              <label class="form-label" for="FreshdeskID" >FreshDesk ID</label>
              <div class=""></div>
            </div>
        
        </div>
        
        <div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control " id="TrackerID" name="TrackerID" aria-describedby="TrackerIDHelp" placeholder=""   value=""  data-mdb-input-mask="" />
              
              <label class="form-label" for="TrackerID" >RSC/NC No.</label>
              <div class=""></div>
            </div>
        
        </div>
        
        <div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control " id="ExtRef" name="ExtRef" aria-describedby="ExtRefHelp" placeholder=""   value=""  data-mdb-input-mask="" />
              
              <label class="form-label" for="ExtRef" >Other Ref</label>
              <div class=""></div>
            </div>
        
        </div>
        <div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control " id="ExtRef2" name="ExtRef2" aria-describedby="ExtRef2Help" placeholder=""   value=""  data-mdb-input-mask="" />
              
              <label class="form-label" for="ExtRef2" >Other Ref 2</label>
              <div class=""></div>
            </div>
        
        </div></div>
        <hr>
       <h4>Estimates</h4>
       <h5>Developer Estimate</h5>
        <div class="row mb-3"  ><div class="col">
        
            <div class="form-outline">
              
              <input type="text" class="form-control {{.DevEstimate_props.MsgType}}" id="DevEstimate" name="DevEstimate" aria-describedby="DevEstimateHelp" placeholder=""   value="{{.DevEstimate}}"  data-mdb-input-mask="" />
              
              <label class="form-label" for="DevEstimate" >Developer Estimate</label>
              <div class="{{.DevEstimate_props.MsgFeedBackType}}">{{.DevEstimate_props.MsgMessage}}</div>
            </div>
        
        </div>
        
        <div class="col">
        
            
            <select id="Confidence" name="Confidence" class="select" data-mdb-filter="true"  required>
                {{range .Confidence_lookup}}<option value="{{.ID}}" {{if eq .ID $.Confidence}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="Confidence" >Confidence</label>
            <div class="{{.Confidence_props.MsgFeedBackType}}">{{.Confidence_props.MsgMessage}}</div>
            
        
        </div>
        
        <div class="col">
        
            
            <select id="Developer" name="Developer" class="select" data-mdb-filter="true"  >
                {{range .Developer_lookup}}<option value="{{.ID}}" {{if eq .ID $.Developer}}selected{{end}} data-mdb-secondary-text="{{.ID}}">{{.Name}}</option>{{end}}
            </select>
            <label class="form-label select-label" for="Developer" >Developer</label>
            <div class="{{.Developer_props.MsgFeedBackType}}">{{.Developer_props.MsgMessage}}</div>
            
        
        </div></div>
        <h4>Comments</h4>
          <div class="row mb-3"  >
                <div class="col">
                
                    <div class="form-outline">
                        
                            <textarea class="form-control" id="Description" name="Comments" aria-describedby="CommentsHelp" placeholder=""   value="placeholder"  data-mdb-input-mask="" rows="4" maxlength="255">placeholder</textarea>
                        
                        <label class="form-label" for="Description">Comments</label>
                        
                    </div>
                
                </div>
            </div>
      
    </div>
    
  </div>
</form>

{{template "userfooter" .}}
{{template "pagefooter" .}}